{% extends "index.html" %}

{% block embody %}
<div id="acties">
    <div class="container">
        <h4>Overzicht realisaties 2020 en acties 2021</h4>
        <p>
            Ben je benieuwd wat de partners van het Rodelandproject zoal gerealiseerd hebben in 2020 en wat er op de planning staat in 2021? Download dan snel het <a class="text" href="/static/Rodeland_realisaties2020&acties2021.pdf" download>overzicht van de realisaties en acties</a>.
        </p>
        <h4>Interactieve overzichtskaart</h4>
        <p>
            <i>Work in progress…</i> Binnenkort komt hier een overzichtskaart waarop je kan zien welke acties waar zijn opgestart.
        </p>
        <h4>Samenwerken rond thema’s</h4>
        <p>
            De Rodelandpartners werken samen rond een aantal overkoepelende thema’s. Per thema komt een werkgroep  op regelmatige basis bij elkaar om samen te plannen en terreinacties voor te bereiden. Momenteel zijn er 5 werkgroepen actief:
            <ul>
                <li>Oogstlandschap</li>
                <li>Kleine landschapselementen (KLE)</li>
                <li>Waterlandschap</li>
                <li>Natuurontwikkeling</li>
                <li>Communicatie & beleving</li>
            </ul>
        </p>
    </div>
</div>
{% endblock %}
