{% extends "index.html" %}

{% block embody %}
<div id="wat">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-7 p-5">
                <h4>Samen bouwen aan een waardevol natuur- en landbouwlandschap</h4>
                <p class="mb-0">
                    Rodeland is een landschapsproject op het grondgebied van de gemeenten Gavere, Melle, Merelbeke en Oosterzele. Overheden, natuur- en landbouworganisaties en onderzoeksinstellingen werken er samen om het landschap rond de Makegemse bossen, het Gentbos, het Aelmoeseneiebos en de beekvalleien van de Gondebeek, de Driesbeek en de Molenbeek te versterken en verder te ontwikkelen.
                </p>
            </div>
            <div class="col-lg-5">
                <img src="/static/images/wat1.jpg" class="img-fluid" alt="Responsive image">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 order-lg-2 p-5">
                <h4>Een fijne plek om te ontspannen en tot rust te komen</h4>
                <p>
                    Via terreinacties willen deze partners de komende jaren samen bouwen aan een natuur- en landbouwlandschap waar veel plant- en diersoorten zich thuis voelen. Bos- en natuurherstel, verbrede landbouw, kleine landschapselementen, routes voor zachte recreatie, integraal waterbeheer, erfgoed en onderzoek,… zullen in de kijker gezet worden via onderlinge samenwerking. En voor de inwoners wordt Rodeland nog meer een plek waar het fijn is om te fietsen en te wandelen, te genieten, te spelen en tot rust te komen.
                </p>
            </div>
            <div class="col-lg-5 order-lg-1">
                <img src="/static/images/wat2.jpg" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</div>
{% endblock %}
