{% extends "index.html" %}

{% block embody %}
<div id="wie">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 py-4">
                <h4>Maar liefst 20 partners werken samen in Rodeland</h4>
                <p class="mb-0">
                    Op 5 juli 2019 startte het project met de ondertekening van de samenwerkingsovereenkomst door de 20 partners: Natuur en Bos, Provincie Oost-Vlaanderen, Gemeente Merelbeke, Gemeente Gavere, Gemeente Oosterzele, Gemeente Melle, Bosgroep Midden-Oost Vlaanderen vzw, Departement Landbouw en Visserij, Natuurpunt, Boerenbond, Algemeen Boerensyndicaat, Boerennatuur Vlaanderen, Bos+, Universiteit Gent, ForNaLab, Hogeschool Gent, Instituut voor Landbouw-, Visserij- en Voedingsonderzoek, Regionaal Landschap Schelde en Durme, Regionaal Landschap Vlaamse Ardennen en Landelijk Vlaanderen.
                </p>
            </div>
            <div class="col-lg-5">
                <img src="/static/images/wie1.jpg" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</div>
{% endblock %}
