{% extends "base.html" %}

{% block content %}
<div id="acties" class="container max-w-screen-xl mx-auto">
    <div class="prose max-w-none">
        <h4 class="text-2xl text-rodeland-1">Overzicht realisaties 2024 en acties 2025</h4>
        <p class="mb-4">
            Ben je benieuwd wat de partners van het Rodelandproject zoal gerealiseerd hebben in 2024 en wat er op de planning staat in 2025? Download dan snel het <a class="text-rodeland-3" href="/static/Rodeland_realisaties2024&acties2025.pdf" download>overzicht van de realisaties en acties</a>.
        </p>
        <p>
            De acties zijn georganiseerd per thema:
            <ul>
                <li>Oogstlandschap</li>
                <li>Kleine landschapselementen (KLE)</li>
                <li>Waterlandschap</li>
                <li>Natuurontwikkeling</li>
                <li>Beleving & communicatie</li>
            </ul>
        </p>
        <div class="mt-4">
        <a href="/static/Rodeland_realisaties2024&acties2025.pdf" download>
            <img src="/static/images/Voorblad_2024-2025.png" class="img-fluid" alt="Responsive image">
        </a>
        </div>
    </div>
</div>
{% endblock %}
