{% extends "index.html" %}

{% block embody %}
<div id="acties" class="mt-5">
    <div class="container">
        <p>
            Check onze Facebookpagina voor de laatste updates: <a class="text" href="https://www.facebook.com/Rodelandproject/" target="_blank">facebook.com/rodelandproject</a>.
        </p>
        <p>
            Heb je vragen of suggesties? Stuur ze naar <a class="text" href="mailto:info@rodeland.be">info@rodeland.be</a>.
        </p>
        <p>
            Per post naar de projectcoördinator kan ook:<br />
            Sofie Van Brussel<br />
            PAC Het Zuid<br />
            W. Wilsonplein 2<br />
            9000 Gent
        </p>
    </div>
</div>
{% endblock %}