{% extends "base.html" %}

{% block content %}
<div id="infomoment" class="container mt-5">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div id="title" class="text-center mb-3">ONLINE INFOMOMENT OVER HET RODELANDPROJECT<br />VOOR LAND- EN TUINBOUWERS<br />WOENSDAGAVOND 9 JUNI (20U-22U)</div>
            <div id="sub" class="text-center mt-4 mb-5"><a class="color1 bg-color3 p-3" href="https://forms.gle/gkTpBLPkGFu58YA26" target="_blank">SCHRIJF JE SNEL HIER IN!</a></div>
            <div>
                <div class="section_title mb-3">VOOR WIE?</div>
                <p class="mb-4 pl-4">Alle land- en tuinbouwers uit Melle, Merelbeke, Oosterzele en Gavere met interesse voor het Rodelandproject.</p>
            </div>
            <div>
                <div class="section_title mb-3">PROGRAMMA</div>
                <ul>
                    <li class="mb-2">
                        <b>Verwelkoming</b><br />
                        Marlinde Koopmans – ILVO
                    </li>
                    <li class="mb-2">
                        <b>Voorstelling Rodelandproject</b><br />
                        Sofie Van Brussel – Projectcoördinator Rodeland
                    </li>
                    <li class="mb-2">
                        <b>Korte keten & Telen van baktarwe voor Lokaal Brood</b><br />
                        Caroline Vlaeminck – SOLVA-Oosterzele en Frank Van Boxstael – HOGENT
                    </li>
                    <li class="mb-2">
                        <b>Kleine landschapselementen en nuttige toepassingen van landschapshout</b><br />
                        Mathias D’Hooghe – Boerennatuur Vlaanderen
                    </li>
                    <li class="mb-2">
                        <b>Aanpak droogte</b><br />
                        Koen Fauconnier – Provincie Oost-Vlaanderen, Dienst Landbouw & Platteland
                    </li>
                    <li class="mb-2">
                        <b>Slotwoord</b><br />
                        Leentje Grillaert – Gedeputeerde Provincie Oost-Vlaanderen
                    </li>
                </ul>
                <p class="mb-4 pl-4">Er is na elke presentatie tijd voorzien voor vragen en opmerkingen.</p>
            </div>
            <div>
                <div class="section_title mb-3">HOE KAN JE DEELNEMEN?</div>
                <p class="pl-4">Inschrijven gaat heel gemakkelijk via <a class="text-rodeland-3" href="https://forms.gle/gkTpBLPkGFu58YA26" target="_blank">deze link</a>. Ook als je nu nog niet helemaal zeker bent of je zal deelnemen, kan je al inschrijven.</p>
                <p class="mb-4 pl-4">Een dag voor het infomoment zal je een mailtje krijgen met de vergaderlink (Microsoft Teams).</p>
            </div>
            <div>
                <p>We kijken er al naar uit om je te verwelkomen op 9 juni!</p>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
{% endblock %}
