{% extends "index.html" %}

{% block embody %}

<div id="pdpo" class="container-md mt-5">
    <div class="card border-0">
        <img class="card-img" src="/static/images/pdpo/Driesbeekvallei_Diepestraat.jpg" />
        <div class="card-img-overlay">
            <div class="h-100 w-80 position-relative">
                <h1 class="position-absolute bottom-0 start-0 fw-bolder" style="color:#FFFFFF;">Plattelandsproject (PDPO) 'Samen+Werken aan het landbouwlandschap in Rodeland'</h5>
            </div>
            
        </div>
    </div>
    
    <p class="mt-3">
        Land- en tuinbouwers creëren ons mooie landschap van nu en van de toekomst. Met dit plattelandsproject willen de Rodelandpartners <span class="fw-bold color1">landbouwers uit Gavere, Melle, Merelbeke en Oosterzele</span> ondersteunen om mee te werken aan bodemkwaliteit, akkerranden en kleine landschapselementen. Het project is gestart op 1 januari 2022 en loopt tot en met 30 juni 2024 en krijgt <span class="fw-bold color1">Europese, Vlaamse en provinciale cofinanciering</span>.
    </p>

    <div>
        <h2 class="mt-4">Verbeter je bodemkwaliteit via onderzaai van rietzwenkgras in maïs - gratis groepsaankoop</h2>
        <p>
            Heb je interesse in <span class="fw-bold color1">bodemkwaliteit, gewasdiversiteit</span> en een goede manier om <span class="fw-bold color1">nitraatuitspoeling</span> tegen te gaan in maïsteelt? Dan is de onderzaai van rietzwenkgras in maïs misschien wel iets voor jou!
        </p>
        <p>
            En nu is het ideale moment om dit een keer uit te proberen want vanuit het PDPO-project bieden we je als landbouwer uit Gavere, Melle, Merelbeke en Oosterzele <span class="fw-bold color1">gratis zaaigoed rietzwenkgras</span> aan en <span class="fw-bold color1">begeleiding op maat op je eigen bedrijf</span> door Boerennatuur Vlaanderen en de Proefhoeve van Bottelare. Het gaat om het ras Fawn dat ook zeer geschikt is voor inkuilen.
        </p>
        <p>
            <span class="fw-bold color1">Hoe kan je meedoen?</span> Bel of mail naar Brecht Herteleer van Boerennatuur Vlaanderen (0477 89 54 75 of <a class="text" href="mailto:brecht.herteleer@boerennatuur.be">brecht.herteleer@boerennatuur.be</a>) of laat je gegevens achter via het <a class="text" href="https://forms.gle/buZHj72N9FvZyUAHA" target="_blank">invulformulier</a>.
        </p>
        <p>
            <span class="fw-bold color1">Opgelet!</span> Deelname aan gratis groepsaankoop rietzwenkgras voor onderzaai in maïs is <span class="fw-bold color1">voor de snelle beslissers</span>. Bestellingen moeten doorgegeven worden <span class="fw-bold color1">vóór 1 april</span>, zo kan het zaad tijdig worden geleverd.
        </p>
        <p>
            <span class="fw-bold color1">Meer weten?</span> Bekijk dan al even de <a class="text" href="/static/pdpo/Presentatie_PDPO_rietzwenkgras_onderzaai_GeertHaesaert_20maart2023.pdf" download>presentatie van Prof. Geert Haesaert</a> van de Proefhoeve van Bottelare waarin hij toelichting geeft bij de <span class="fw-bold color1">onderzoeksresultaten</span> van de onderzaai van rietzwenkgras in maïs (cfr. infoavond van 20 maart 2023).
        </p>
        <p>
            Op de Proefhoeve van Bottelare liggen <span class="fw-bold color1">lange termijnproeven</span> aan die via vruchtwisseling, gewaskeuze en gewasdiversiteit, aanbreng van compost en teeltsystemen (conventioneel/bio) streven naar een verhoogde bodemkwaliteit. In het najaar van 2022 is op de Proefhoeve i.s.m. het ILVO een nieuwe veldproef over de toepassing van <span class="fw-bold color1">houtsnippers als bodemverbeteraar</span> gestart.
        </p>
        <p>
            <span class="fw-bold color1">Woensdagvoormiddag 28 juni 2023</span> wordt op de Proefhoeve een <span class="fw-bold color1">demo</span> georganiseerd rond <span class="fw-bold color1">bodemkwaliteit</span> waarin al deze aspecten aan bod zullen komen, evenals de effecten van het type bodembewerking op de bodemkwaliteit.
        </p>
        <p>
            <span class="fw-bold color1">Eind augustus 2023</span> wordt op een landbouwbedrijf in Oosterzele een demo georganiseerd rond <span class="fw-bold color1">bodembewerking</span> (o.a. niet-kerend) en relatie met <span class="fw-bold color1">bodemkwaliteit</span>.
        </p>
    </div>
    <div class="row">
        <div class="col-6">
            <figure class="figure">
                <img class="img-fluid" src="/static/pdpo/Foto_niet_kerend_Boerennatuur_01.jpg" />
                <figcaption class="figure-caption">Boerennatuur Vlaanderen</figcaption>
            </figure>
        </div>
        <div class="col-6">
            <figure class="figure">
                <img class="img-fluid" src="/static/pdpo/Foto_niet_kerend_Boerennatuur_02.jpg" />
                <figcaption class="figure-caption">Boerennatuur Vlaanderen</figcaption>
            </figure>
        </div>
    </div>

    <h2 class="mt-4">Zaai jij dit voorjaar ook een bloemenrand in?</h2>
    <p>
        Ben je landbouwer in Gavere, Melle, Merelbeke of Oosterzele en heb je interesse in het zaaien van een <span class="fw-bold color1">bloemrijke akkerrand</span>? Dan kan je ondersteuning krijgen vanuit het PDPO-project 'Samen+Werken aan het landbouwlandschap in Rodeland':
    <ol>
        <li>
            Als landbouwer krijg je een <span class="fw-bold color1">vergoeding</span> van 0,17 euro per m² (of 1.700 euro per ha met een maximum van 0,25 ha per landbouwer).
        </li>
        <li>
            Je voorziet zelf een <span class="fw-bold color1">zadenmengsel met inheemse wilde bloemen</span>. Of je deed eind 2022 mee aan de groepsaankoop plantgoed van de Provincie Oost-Vlaanderen (1 kg meerjarig bloemenmengsel en/of 1 kg eenjarig bloemenmengsel).
        </li>
        <li>
            Inzaaien in het <span class="fw-bold color1">voorjaar van 2023</span> (tussen 15 maart en 15 juni). Wacht een geschikt moment af (zaai bijvoorbeeld niet in een droge periode) en werk met een vals zaaibed. Bloemenranden tellen ook mee als Ecologisch Aandachtsgebied in je verzamelaanvraag.
        </li>
        <li>
            <span class="fw-bold color1">Persoonlijk advies</span> van <a class="text" href="https://www.boerennatuur.be/" target="_blank">Boerennatuur Vlaanderen</a> bij inzaai en administratie, o.a. bij het invullen van de overeenkomst voor de vergoeding voor de bloemenrand. <a class="text" href="/static/pdpo/Rodeland_overeenkomst_bloemenrand_periode2_voorjaar2023_V2.pdf" download>Klik hier om de volledige overeenkomst te bekijken</a>.
        </li>
        <li>
            Als je al een overeenkomst hebt afgesloten in periode 1 (inzaai najaar 2022) in het kader van dit PDPO-project, dan mag de som van de oppervlakte waarvoor je overeenkomsten hebt/aanvraagt (periode 1 + periode 2) niet meer bedragen dan 0,25 ha.
        </li>
    </ol>
    </p>
    <p>
        Heb je interesse: bel of mail Brecht Herteleer (0477 89 54 75 en <a class="text" href="mailto:brecht.herteleer@boerennatuur.be">brecht.herteleer@boerennatuur.be</a>) van Boerennatuur met de volgende informatie:
        <ul>
            <li>
                Hoeveel m² wens je in te zaaien (maximum 2.500 m² per landbouwer)
            </li>
            <li>
                Welk bloemenmengsel wens je in te zaaien
            </li>
            <li>
                Zelf inzaaien of met loonwerker
            </li>
            <li>
                Telefoonnummer waarop je te bereiken bent
            </li>
        </ul>
    </p>
    <p>
        Nieuwsgierig naar de ervaringen van andere landbouwers met bloemenmengsels voor nuttige insecten? Kijk dan zeker eens naar <a class="text" href="https://youtu.be/9r6n_JuT4hc" target="_blank">dit filmpje</a> waarin Boer Steven uit Halle aan het woord komt over zijn functionele bloemenrand.
    </p>
    <div class="row">
        <div class="col-6">
            <figure class="figure">
                <img class="img-fluid" src="/static/images/pdpo/pdpo_ba1.jpg" />
                <figcaption class="figure-caption">Boerennatuur Vlaanderen</figcaption>
            </figure>
        </div>
        <div class="col-6">
            <figure class="figure">
                <img class="img-fluid" src="/static/images/pdpo/pdpo_ba2.jpg" />
                <figcaption class="figure-caption">Boerennatuur Vlaanderen</figcaption>
            </figure>
        </div>
    </div>
    <h2 class="mt-4">Houtige kleine landschapselementen (KLE)</h2>
    <p>
        Rodeland is rijk aan houtige kleine landschaps-elementen, maar de <span class="fw-bold color1">kosten voor beheer</span> lopen op. Waar dit hout vroeger gebruikt werd als brandhout en er voldoende vrijwilligers gevonden werden om mee te helpen, komt de inspanning nu vooral bij de eigenaar of gebruiker te liggen. Hierdoor worden tegenwoordig maar weinig nieuwe KLE's aangeplant.
    </p>
    <p>
        Het beheer is niet alleen tijdrovend, maar bovendien ook een gevaarlijke klus. Recent zijn er nieuwe machines om het beheer efficiënter te maken.
    </p>
    <p>
        Op <span class="fw-bold color1">24 november 2022</span> organiseerden we vanuit het PDPO-project samen met de Provincie Oost-Vlaanderen een <span class="fw-bold color1">infomoment rond het nut van knotbomen</span> in Oosterzele.
    </p>
    <p>
        De 60 deelnemers kregen een duidelijk overzicht van alle bestaande <span class="fw-bold color1">steunmaatregelen bij aanplant en beheer</span> van (knot)bomen, houtkanten, heggen en hagen in de 4 Rodelandgemeenten. De nuttige toepassingen van <span class="fw-bold color1">houtsnippers als duurzame energiebron</span> en <span class="fw-bold color1">als koolstofbron in de bodem</span> werden toegelicht. En via de live <span class="fw-bold color1">demo met velkop en kraan</span> konden de deelnemers ter plaatse zien hoe het onderhoudswerk efficiënt en veilig kan verlopen.
    </p>
    <p>
        <span class="fw-bold color1">Gemist?</span> Geen nood, download <a class="text" href="/static/pdpo/Schema_steun_aanplant&beheer_KLE_Rodeland_V20221124.pdf" download>het handige schema</a> en <a class="text" href="/static/pdpo/Uitleg_steun_aanplant&beheer_KLE_Rodeland_V20221124.pdf" download>het document met meer uitleg</a> over waar je als inwoner van Gavere, Melle, Merelbeke en Oosterzele terecht kan voor steun bij de aanplant en het beheer van je houtige KLE.
    </p>

    <div class="row">
        <div class="col-6">
            <figure class="figure">
                <img class="img-fluid" src="/static/images/pdpo/20221124_111230.jpg" />
            </figure>
        </div>
        <div class="col-6">
            <figure class="figure">
                <img class="img-fluid" src="/static/images/pdpo/20221124_120611.jpg" />
            </figure>
        </div>
    </div>


    <div>
        <h2 class="mt-4">Meer weten?</h2>
        <p>
            Wil je graag meer weten of op de hoogte blijven van de demo's die op de planning staan? Stuur dan een mailtje naar <a class="text" href="mailto:info@rodeland.be">info@rodeland.be</a> of volg het via <a class="text" href="https://www.facebook.com/Rodelandproject/" target="_blank">facebook.com/rodelandproject</a>.
        </p>
    </div>

    <div class="w-100 mt-5">
        <img class="img-fluid" src="/static/images/pdpo/OKW_Oost_Vlaanderen.png" />
    </div>
    <div class="mt-5">
        <img class="img-fluid" src="/static/images/pdpo/20221124_111052.jpg" />
    </div>
</div>
{% endblock %}
