{% extends "index.html" %}

{% block embody %}

<div id="pdpo" class="container-md mt-5">
    <div class="card border-0">
        <img class="card-img" src="/static/images/pdpo/Driesbeekvallei_Diepestraat.jpg" />
        <div class="card-img-overlay">
            <div class="h-100 w-80 position-relative">
                <h1 class="position-absolute bottom-0 start-0 fw-bolder" style="color:#FFFFFF;">Plattelandsproject (PDPO) 'Samen+Werken aan het landbouwlandschap in Rodeland'</h5>
            </div>
            
        </div>
    </div>
    
    <p class="mt-3">
        Land- en tuinbouwers creëren ons mooie landschap van nu en van de toekomst. Met dit plattelandsproject willen de Rodelandpartners <span class="fw-bold color1">landbouwers uit Gavere, Melle, Merelbeke en Oosterzele</span> ondersteunen om mee te werken aan bodemkwaliteit, akkerranden en kleine landschapselementen. Het project is gestart op 1 januari 2022 en loopt tot en met 30 juni 2024 en krijgt <span class="fw-bold color1">Europese, Vlaamse en provinciale cofinanciering</span>.
    </p>

    <div>
        <h2 class="mt-4">Kom naar onze studiedag “Houtsnippers als aanvoer van humus in de bodem of als brandstof” op 14 februari in Merelbeke</h2>
        <p>Op deze studiedag krijg je een antwoord op vragen zoals:</p>
        <p class="text-center"><i>
            Wat zijn de effecten van het inwerken van houtsnippers op de bodem en teelten? Wat zegt het GLB hierover? En hoe zit het met de wetgeving hierrond?</br>
            Kunnen pellets uit landschapshout fossiele brandstoffen vervangen?</br>
            Wat zijn de kosten en de baten van het gebruik van houtsnippers bij deze toepassingen?            
        </i></p>
        <p>We brengen ook een bezoek aan de composteringsinstallatie van het ILVO.</p>
        <ul>
            <li>Woensdag 14 februari 11u-15u, met gratis broodjeslunch</li>
            <li>ILVO - Plant, Zaal Kouter, Burgemeester van Gansberghelaan 109, Merelbeke</li>
            <li>Gratis deelname, wel inschrijven ten laatste op 9 februari via <a class="text" href="https://docs.google.com/forms/d/e/1FAIpQLSeGhKJeGf5nfTofViPkQ-Q2Oii3Gehl8R1IVpojeMzVj7rRog/viewform" target="_blank">deze link</a></li>
            <li>Kijk <a class="text" href="/static/pdpo/Uitnodiging studiedag houtsnippers_14februari2024.pdf" download>hier</a> voor het volledige programma</li>
        </ul>
        <p>
            Deze studiedag wordt georganiseerd door het <a class="text" href="https://www.absvzw.be/" target="_blank">Algemeen Boerensyndicaat</a>, <a class="text" href="https://ilvo.vlaanderen.be/nl" target="_blank">het Instituut voor Landbouw-, Visserij- en Voedingsonderzoek</a>, <a class="text" href="https://www.boerennatuur.be/" target="_blank">Boerennatuur Vlaanderen</a>, <a class="text" href="https://www.ugent.be/" target="_blank">Universiteit Gent</a>, <a class="text" href="https://www.oost-vlaanderen.be/" target="_blank">Provincie Oost-Vlaanderen</a>, <a class="text" href="https://ovam.vlaanderen.be/" target="_blank">OVAM</a>, Rodeland, Living Lab Agro-Ecologie en Biologische Landbouw en <a class="text" href="https://www.plattelandscentrum.be/" target="_blank">het Plattelandscentrum</a> in het kader van het Plattelandsproject (PDPO) 'Samen+Werken aan het landbouwlandschap in Rodeland' en het Leaderproject 'Houtige biomassa, korte keten sluiten'.
        </p>
    </div>

    <div>
        <h2 class="mt-4">3 ha bloemenranden ingezaaid in Rodeland dankzij enthousiaste landbouwers en het PDPO-project!</h2>
       
        <p>
            In 2022 en 2023 konden landbouwers uit Gavere, Melle, Merelbeke en Oosterzele bloemrijke akkerranden inzaaien in het kader van het PDPO-project 'Samen+Werken aan het landbouwlandschap in Rodeland'. Ze kregen <span class="fw-bold color1">gratis bloemenzaad</span>, een <span class="fw-bold color1">vergoeding</span> van 0,17 euro per m² en <span class="fw-bold color1">persoonlijk advies</span> van Boerennatuur Vlaanderen. In het totaal hebben <span class="fw-bold color1">22 landbouwers 3 ha bloemenranden ingezaaid</span>, verspreid over de 4 Rodelandgemeenten.
        </p>

        <p>
            Het aangeboden bloemenmengsel is een meerjarig mengsel dat 3 tot 5 jaar kan blijven staan en speciaal werd samengesteld om <span class="fw-bold color1">nuttige insecten</span> aan te trekken. Dit zijn niet alleen <span class="fw-bold color1">bestuivers</span>, zoals vlinders en bijen, maar ook <span class="fw-bold color1">natuurlijke plaagbestrijders</span> zoals lieveheersbeestjes en zweefvliegen. Deze laatste groep bestrijdt plaaginsecten (bv. bladluizen of graanhaantjes) in aanpalende gewassen, waardoor minder gewasbeschermingsproducten nodig zijn. Uit onderzoek blijkt dat het effect van de plaagbestrijding tot zeker 50 meter ver in het gewas kan reiken. Dit principe wordt functionele agrobiodiversiteit, kortweg FAB, genoemd.
        </p>

        <p>
            Ook vogels en andere dieren vinden beschutting en voedsel in een bloemenrand. Bovendien verfraaien bloemenranden het landschap en worden ze sterk geapprecieerd door het publiek. Veel landbouwers krijgen positieve reacties van passanten.
        </p>

        <div class="row">
            <div class="col-6">
                <figure class="figure">
                    <img class="img-fluid" src="/static/images/pdpo/Bloemenrand_detail_Rodeland_Merelbeke_LiesbetPersoons.jpg" />
                    <figcaption class="figure-caption">Liesbet Persoons - Merelbeke</figcaption>
                </figure>
            </div>
            <div class="col-6">
                <figure class="figure">
                    <img class="img-fluid" src="/static/images/pdpo/Bloemenrand_detail_Rodeland_Oosterzele_BrechtHerteleer.JPG" />
                    <figcaption class="figure-caption">Brecht Herteleer - Oosterzele</figcaption>
                </figure>
            </div>
        </div>
        <div>
            <figure class="figure">
                <img class="img-fluid" src="/static/images/pdpo/Bloemenrand_Rodeland_Oosterzele_BrechtHerteleer.JPG" />
                <figcaption class="figure-caption">Brecht Herteleer - Oosterzele</figcaption>
            </figure>
        </div>
        <div>
            <figure class="figure">
                <img class="img-fluid" src="/static/images/pdpo/Bloemenrand_Rodeland_Merelbeke_BrechtHerteleer.JPG" />
                <figcaption class="figure-caption">Brecht Herteleer - Merelbeke</figcaption>
            </figure>
        </div>
    </div>

    <div>
        <h2 class="mt-4">Al fietsend kennismaken met het plattelandsproject van Rodeland</h2>
        <p>Een 300-tal enthousiaste fietsers deden op 10 september 2023 mee aan onze Rodelandfietstocht.</p>
        <p>De deelnemers fietsten langs mooie en nuttige <span class="fw-bold color1">bloemenranden</span> van landbouwers, kregen uitleg over wat je zoal kan doen met het <span class="fw-bold color1">hout van knotbomen</span>, hoe je een <span class="fw-bold color1">gezonde bodem</span> kan herkennen,… Ook de teelt van <span class="fw-bold color1">oesterzwammen & shiitakes, groene asperges en biogroenten</span> kent geen geheimen meer voor hen, net zoals het leven en het werk van de <span class="fw-bold color1">honingbijen</span> en de korte keten van het <a class="text" href="https://sites.google.com/view/rodelandbrood" target="_blank">Rodelandbrood</a>.</p>
        <p>Om 14u was er een officieel startmoment op de Proefhoeve in Bottelare met gouverneur Carina Van Cauter, Jef Wittouck en Prof. Geert Haesaert.</p>
        <div>
            <figure class="figure">
                <img class="img-fluid" src="/static/pdpo/Fietskaart_10september2023_Pjotr.jpg" />
            </figure>
        </div>
    </div>

    <div>
        <h2 class="mt-4">Machinedemo en proefvelden voor duurzame landbouw van 23 augustus 2023 in beeld</h2>
        <p>Het was een zeer geslaagde namiddag rond duurzame landbouw bij Loonbedrijf Suenaert in Scheldewindeke: boeiende sprekers, veel geïnteresseerde deelnemers, een unieke machinedemo niet-kerende bodembewerking, bloemenranden met deskundige uitleg van HOGENT en maar liefst 33 proefvelden van Jorion Philip-Seeds!</p>
        <p>Bovendien werd er bijscholing fytolicentie aan gekoppeld, het was prachtig weer en er waren lekkere korte keten frietjes!</p>
        <p>Medeorganisator Boerennatuur VL maakte er een mooi filmpje van:</p>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="100%" height="400" src="https://www.youtube.com/embed/IkDXK6iSanw?si=SWcnqZW7E8E7-K9s" allowfullscreen></iframe>
        </div>
        <p class="mt-3">De organisatie van deze demonamiddag kaderde in het PDPO project 'Samen+Werken aan het landbouwlandschap in Rodeland' in samenwerking met <a class="text" href="https://www.jorion-philip-seeds.be/nl/" target="_blank">Jorion Philip-Seeds</a>, <a class="text" href="https://suenaert.be/" target="_blank">Loonbedrijf Suenaert</a> en <a class="text" href="https://www.agrocampus.be/" target="_blank">AgroCampus</a> (fytolicentie). Met dank aan <a class="text" href="https://www.beyne.com/nl" target="_blank">Beyne</a>, <a class="text" href="https://actisol-agri.fr/" target="_blank">Actisol</a>, <a class="text" href="https://www.imants.com/" target="_blank">Imants</a>, <a class="text" href="https://www.demuynck-agri.be/" target="_blank">De Muynck Agri</a>, <a class="text" href="https://www.vanderroostnv.be/" target="_blank">Vanderroost</a> en <a class="text" href="https://suenaert.be/" target="_blank">Loonbedrijf Suenaert</a> voor hun medewerking aan de machinedemo.</p>
    
        <div class="row">
            <div class="col-6">
                <figure class="figure">
                    <img class="img-fluid" src="/static/pdpo/20230823_DeLobelle_01.JPG" />
                </figure>
            </div>
            <div class="col-6">
                <figure class="figure">
                    <img class="img-fluid" src="/static/pdpo/20230823_DeLobelle_02.JPG" />
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <figure class="figure">
                    <img class="img-fluid" src="/static/pdpo/20230823_DeLobelle_03.JPG" />
                </figure>
            </div>
            <div class="col-6">
                <figure class="figure">
                    <img class="img-fluid" src="/static/pdpo/20230823_DeLobelle_04.JPG" />
                </figure>
            </div>
        </div>
        <div>
            <figure class="figure">
                <img class="img-fluid" src="/static/pdpo/20230823_DeLobelle_05.JPG" />
                <figcaption class="figure-caption">Fotografie De Lobelle</figcaption>
            </figure>
        </div>
    
    </div>



    <!-- <div>
        <h2 class="mt-4">Nascholing fytolicentie 23/08/2023: machinedemo en proefvelden voor duurzame landbouw</h2>
        <p>
            Landbouwers en andere geïnteresseerden zijn van harte welkom op het loonwerkbedrijf van de familie Suenaert in Oosterzele voor een machinedemo en bezoek aan de proefvelden van Jorion Philip-Seeds met groenbemesters, ecoregelingen en bloemenranden.
        </p>
        <p>
            We zien verschillende machines aan het werk die niet kerend de bodem bewerken. Je krijgt uitleg over de werking van deze machines en hoe ze bijdragen aan het verbeteren van het bodemleven.
        </p>
        <p>
            Op de proefvelden bekijken we verschillende stroken, aangelegd met groenbemesters, ecoregelingen en bloemenranden. Dit biedt je de mogelijkheid om de juiste mengsels te kiezen voor meer bodemleven.
        </p>
        <p>
            We staan ook stil bij het belang van bloemenranden voor natuurlijke vijanden van plaaginsecten.
        </p>
        <p>
            Deze namiddag komt in aanmerking als nascholing fytolicentie, om daarvoor aan te melden, dien je je identiteitskaart mee te brengen.
        </p>
        <p><span class="fw-bold color1">Praktisch</span></b>
            <ul>
                <li><span class="fw-bold color1">Gratis</span>, maar <span class="fw-bold color1">inschrijven voor 20 augustus</span> is noodzakelijk en kan via <a class="text" href="https://forms.office.com/Pages/ResponsePage.aspx?id=bRXlzHl6RUiSfAf8Z0w-K-v101RUoqdAjx1PGvHUjmdUNk5IT1NRVFJaMUFINzZGUUk5Tkw3TlQ2Si4u&wdLOR=c67946551-EFE5-48B2-A7DA-EC92941E1F2B" target="_blank">deze link</a></li>
                <li><span class="fw-bold color1">14u-17u, registratie om 13u30</span></li>
                <li>Nascholing <span class="fw-bold color1">fytolicentie</span>: breng je identiteitskaart mee en kom zeker op tijd voor de registratie</li>
                <li>Op het loonwerkbedrijf van de familie Suenaert, <span class="fw-bold color1">Lange Munte 75/B, Oosterzele</span></li>
                <li>We sluiten af met <span class="fw-bold color1">frietjes</span> en een drankje</li>
            </ul>
        </p>
        <p><span class="fw-bold color1">Programma</span>
            <ul>
                <li><span class="fw-bold color1">13u30:</span> aanmelden en registratie (identiteitskaart noodzakelijk voor nascholing fytolicentie)</li>
                <li><span class="fw-bold color1">14u:</span> Gezond bodemleven met niet kerende bodembewerking - Geert Haesaert - UGent</li>
                <li><span class="fw-bold color1">15u-17u:</span>
                    <ul>
                        <li>Proefvelden groenbemesters, ecoregelingen & bloemenranden - Filip Desmyter - Jorion Philip-Seeds</li>
                        <li>Demo machines niet kerende bodembewerking (Beyne, Steeno, Actisol, Imants) - Brecht Herteleer - Boerennatuur Vlaanderen ism De Muynck Agri bvba, Vanderroost nv, Suenaert Pieter bv en Suenaert Eric bv</li>
                        <li>Natuurlijke vijanden in de bloemenrand - Joachim Moens - HOGENT</li>
                    </ul>
                </li>
                <li><span class="fw-bold color1">17u:</span> Frietjes & snack + drankje</li>
            </ul>
        </p>
        <p>
            De organisatie van deze demonamiddag kadert in het <span class="fw-bold color1">PDPO project 'Samen+Werken aan het landbouwlandschap in Rodeland'</span> en wordt georganiseerd ism met <span class="fw-bold color1">Jorion Philip-Seeds, Suenaert Pieter bv, Suenaert Eric bv en Agro Campus vzw</span> (fytolicentie).
        </p>
        <p>
            Met dank aan <span class="fw-bold color1">De Muynck Agri bvba, Vanderroost nv, Suenaert Pieter bv en Suenaert Eric bv</span> voor de medewerking aan de machinedemo.
        </p>
        <p>
            <span class="fw-bold color1">Heb je nog vragen?</span> Contacteer dan Brecht Herteleer van Boerennatuur Vlaanderen: 0477 89 54 75 of <a class="text" href="mailto:brecht.herteleer@boerennatuur.be">brecht.herteleer@boerennatuur.be</a>
        </p>
        <div class="row">
            <div class="col-6">
                <figure class="figure">
                    <img class="img-fluid" src="/static/images/pdpo/Demeter_Actisol.png" />
                    <figcaption class="figure-caption">&copy; Actisol - Demeter</figcaption>
                </figure>
            </div>
            <div class="col-6">
                <figure class="figure">
                    <img class="img-fluid" src="/static/images/pdpo/Schijveneg_Beyne.jpg" />
                    <figcaption class="figure-caption">&copy; Beyne - Schijveneg</figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <figure class="figure">
                    <img class="img-fluid" src="/static/images/pdpo/JPS_groenbedekkers.jpg" />
                    <figcaption class="figure-caption">&copy; Jorion Philip-Seeds - Groenbemesters</figcaption>
                </figure>
            </div>
            <div class="col-6">
                <figure class="figure">
                    <img class="img-fluid" src="/static/images/pdpo/BloemenrandRodeland.jpg" />
                    <figcaption class="figure-caption">&copy; HOGENT - Bloemenranden en natuurlijke vijanden</figcaption>
                </figure>
            </div>
        </div>
    </div> -->

    <!-- <div id="demo-28-juni">
        <h2 class="mt-4">Praktijkgerichte demo rond bodemgezondheid, bloemenranden en mengteelten - 28 juni</h2>
        <p>
            Kom op woensdagvoormiddag 28 juni naar de proefvelden van UGENT en HOGENT in Bottelare en ontdek hoe je een gezonde bodem herkent en de vruchtbaarheid kan verbeteren. Krijg meer info over mengteelten van graan met veldbonen of erwten en welke bloemenmengsels het meest geschikt zijn voor bufferstroken.
        </p>
        <p><span class="fw-bold color1">Programma</span>
            <ul>
                <li><span class="me-3">09u30</span> Ontvangst met koffie</li>
                <li><span class="me-3">10u00</span> Welkom + samen wandelen naar het proefveld</li>
                <li><span class="me-3">10u20</span> Mengteelten: voordelen van graan in combinatie met veldbonen of erwten</li>
                <li><span class="me-3">10u50</span> Jouw bodem in goede gezondheid: waarom, hoe te herkennen en tips & tricks</li>
                <li><span class="me-3">11u20</span> Brengen houtsnippers soelaas in de landbouw?</li>
                <li><span class="me-3">11u50</span> Bloemenranden: belang van beheer en van het juiste bloemenmengsel</li>
                <li><span class="me-3">12u30</span> Broodjeslunch</li>
            </ul>
        </p>
        <p>
            <span class="fw-bold color1">Waar?</span> Proefhoeve in Bottelare, Diepestraat 1, Merelbeke. Parkeren kan in de Diepestraat voor de Proefhoeve. We verzamelen op het binnenplein van de Proefhoeve.
        </p>
        <p>
            <span class="fw-bold color1">Hoe deelnemen?</span> Deelnemen is <span class="fw-bold color1">gratis</span>, maar om praktische redenen (zoals de broodjeslunch) willen we vragen om je zeker <span class="fw-bold color1">in te schrijven voor zondag 25 juni</span>. Dat kan:
            <ul>
                <li>door een mailtje te sturen naar <a class="text" href="mailto:info@rodeland.be">info@rodeland.be</a></li>
                <li>door je in te schrijven via <a class="text" href="https://forms.gle/kTJYM9jHHQgRSgkA7" target="_blank">deze link</a></li>
            </ul>
        </p>
        <p>
            Aansluitend start om 13u30 het jaarlijkse proefveldbezoek van de Proefhoeve van Bottelare. Voor meer info en inschrijven voor het namiddagprogramma, klik <a class="text" href="https://www.ugent.be/bw/nl/actueel/agenda/proefveldbezoek-bottelare-1.htm" target="_blank">hier</a>.
        </p>
    </div>
    <div class="row">
        <div class="col-6">
            <figure class="figure">
                <img class="img-fluid" src="/static/images/pdpo/346163241_Elise_Devaux.jpg" />
                <figcaption class="figure-caption">&copy; Elise Devaux</figcaption>
            </figure>
        </div>
        <div class="col-6">
            <figure class="figure">
                <img class="img-fluid" src="/static/images/pdpo/houtsnippers in voorjaar_Griet_Verhoye.jpg" />
                <figcaption class="figure-caption">&copy; Griet Verhoye</figcaption>
            </figure>
        </div>
    </div> -->

    <!-- <div>
        <h2 class="mt-4">Verbeter je bodemkwaliteit via onderzaai van rietzwenkgras in maïs - gratis groepsaankoop</h2>
        <p>
            Heb je interesse in <span class="fw-bold color1">bodemkwaliteit, gewasdiversiteit</span> en een goede manier om <span class="fw-bold color1">nitraatuitspoeling</span> tegen te gaan in maïsteelt? Dan is de onderzaai van rietzwenkgras in maïs misschien wel iets voor jou!
        </p>
        <p>
            En nu is het ideale moment om dit een keer uit te proberen want vanuit het PDPO-project bieden we je als landbouwer uit Gavere, Melle, Merelbeke en Oosterzele <span class="fw-bold color1">gratis zaaigoed rietzwenkgras</span> aan en <span class="fw-bold color1">begeleiding op maat op je eigen bedrijf</span> door Boerennatuur Vlaanderen en de Proefhoeve van Bottelare. Het gaat om het ras Fawn dat ook zeer geschikt is voor inkuilen.
        </p>
        <p>
            <span class="fw-bold color1">Hoe kan je meedoen?</span> Bel of mail naar Brecht Herteleer van Boerennatuur Vlaanderen (0477 89 54 75 of <a class="text" href="mailto:brecht.herteleer@boerennatuur.be">brecht.herteleer@boerennatuur.be</a>) of laat je gegevens achter via het <a class="text" href="https://forms.gle/buZHj72N9FvZyUAHA" target="_blank">invulformulier</a>.
        </p>
        <p>
            <span class="fw-bold color1">Opgelet!</span> Deelname aan gratis groepsaankoop rietzwenkgras voor onderzaai in maïs is <span class="fw-bold color1">voor de snelle beslissers</span>. Bestellingen moeten doorgegeven worden <span class="fw-bold color1">vóór 1 april</span>, zo kan het zaad tijdig worden geleverd.
        </p>
        <p>
            <span class="fw-bold color1">Meer weten?</span> Bekijk dan al even de <a class="text" href="/static/pdpo/Presentatie_PDPO_rietzwenkgras_onderzaai_GeertHaesaert_20maart2023.pdf" download>presentatie van Prof. Geert Haesaert</a> van de Proefhoeve van Bottelare waarin hij toelichting geeft bij de <span class="fw-bold color1">onderzoeksresultaten</span> van de onderzaai van rietzwenkgras in maïs (cfr. infoavond van 20 maart 2023).
        </p>
        <p>
            Op de Proefhoeve van Bottelare liggen <span class="fw-bold color1">lange termijnproeven</span> aan die via vruchtwisseling, gewaskeuze en gewasdiversiteit, aanbreng van compost en teeltsystemen (conventioneel/bio) streven naar een verhoogde bodemkwaliteit. In het najaar van 2022 is op de Proefhoeve i.s.m. het ILVO een nieuwe veldproef over de toepassing van <span class="fw-bold color1">houtsnippers als bodemverbeteraar</span> gestart.
        </p>
        <p>
            <span class="fw-bold color1">Woensdagvoormiddag 28 juni 2023</span> wordt op de Proefhoeve een <span class="fw-bold color1">demo</span> georganiseerd rond <span class="fw-bold color1">bodemkwaliteit</span> waarin al deze aspecten aan bod zullen komen, evenals de effecten van het type bodembewerking op de bodemkwaliteit.
        </p>
        <p>
            <span class="fw-bold color1">Eind augustus 2023</span> wordt op een landbouwbedrijf in Oosterzele een demo georganiseerd rond <span class="fw-bold color1">bodembewerking</span> (o.a. niet-kerend) en relatie met <span class="fw-bold color1">bodemkwaliteit</span>.
        </p>
    </div>
    <div class="row">
        <div class="col-6">
            <figure class="figure">
                <img class="img-fluid" src="/static/pdpo/Foto_niet_kerend_Boerennatuur_01.jpg" />
                <figcaption class="figure-caption">Boerennatuur Vlaanderen</figcaption>
            </figure>
        </div>
        <div class="col-6">
            <figure class="figure">
                <img class="img-fluid" src="/static/pdpo/Foto_niet_kerend_Boerennatuur_02.jpg" />
                <figcaption class="figure-caption">Boerennatuur Vlaanderen</figcaption>
            </figure>
        </div>
    </div> -->

    <!-- <h2 class="mt-4">Zaai jij dit voorjaar ook een bloemenrand in?</h2>
    <p>
        Ben je landbouwer in Gavere, Melle, Merelbeke of Oosterzele en heb je interesse in het zaaien van een <span class="fw-bold color1">bloemrijke akkerrand</span>? Dan kan je ondersteuning krijgen vanuit het PDPO-project 'Samen+Werken aan het landbouwlandschap in Rodeland':
    <ol>
        <li>
            Als landbouwer krijg je een <span class="fw-bold color1">vergoeding</span> van 0,17 euro per m² (of 1.700 euro per ha met een maximum van 0,25 ha per landbouwer).
        </li>
        <li>
            Je voorziet zelf een <span class="fw-bold color1">zadenmengsel met inheemse wilde bloemen</span>. Of je deed eind 2022 mee aan de groepsaankoop plantgoed van de Provincie Oost-Vlaanderen (1 kg meerjarig bloemenmengsel en/of 1 kg eenjarig bloemenmengsel).
        </li>
        <li>
            Inzaaien in het <span class="fw-bold color1">voorjaar van 2023</span> (tussen 15 maart en 15 juni). Wacht een geschikt moment af (zaai bijvoorbeeld niet in een droge periode) en werk met een vals zaaibed. Bloemenranden tellen ook mee als Ecologisch Aandachtsgebied in je verzamelaanvraag.
        </li>
        <li>
            <span class="fw-bold color1">Persoonlijk advies</span> van <a class="text" href="https://www.boerennatuur.be/" target="_blank">Boerennatuur Vlaanderen</a> bij inzaai en administratie, o.a. bij het invullen van de overeenkomst voor de vergoeding voor de bloemenrand. <a class="text" href="/static/pdpo/Rodeland_overeenkomst_bloemenrand_periode2_voorjaar2023_V2.pdf" download>Klik hier om de volledige overeenkomst te bekijken</a>.
        </li>
        <li>
            Als je al een overeenkomst hebt afgesloten in periode 1 (inzaai najaar 2022) in het kader van dit PDPO-project, dan mag de som van de oppervlakte waarvoor je overeenkomsten hebt/aanvraagt (periode 1 + periode 2) niet meer bedragen dan 0,25 ha.
        </li>
    </ol>
    </p>
    <p>
        Heb je interesse: bel of mail Brecht Herteleer (0477 89 54 75 en <a class="text" href="mailto:brecht.herteleer@boerennatuur.be">brecht.herteleer@boerennatuur.be</a>) van Boerennatuur met de volgende informatie:
        <ul>
            <li>
                Hoeveel m² wens je in te zaaien (maximum 2.500 m² per landbouwer)
            </li>
            <li>
                Welk bloemenmengsel wens je in te zaaien
            </li>
            <li>
                Zelf inzaaien of met loonwerker
            </li>
            <li>
                Telefoonnummer waarop je te bereiken bent
            </li>
        </ul>
    </p>
    <p>
        Nieuwsgierig naar de ervaringen van andere landbouwers met bloemenmengsels voor nuttige insecten? Kijk dan zeker eens naar <a class="text" href="https://youtu.be/9r6n_JuT4hc" target="_blank">dit filmpje</a> waarin Boer Steven uit Halle aan het woord komt over zijn functionele bloemenrand.
    </p>
    <div class="row">
        <div class="col-6">
            <figure class="figure">
                <img class="img-fluid" src="/static/images/pdpo/pdpo_ba1.jpg" />
                <figcaption class="figure-caption">&copy; Boerennatuur Vlaanderen</figcaption>
            </figure>
        </div>
        <div class="col-6">
            <figure class="figure">
                <img class="img-fluid" src="/static/images/pdpo/pdpo_ba2.jpg" />
                <figcaption class="figure-caption">&copy; Boerennatuur Vlaanderen</figcaption>
            </figure>
        </div>
    </div> -->
    <h2 class="mt-4">Houtige kleine landschapselementen (KLE)</h2>
    <p>
        Rodeland is rijk aan houtige kleine landschaps-elementen, maar de <span class="fw-bold color1">kosten voor beheer</span> lopen op. Waar dit hout vroeger gebruikt werd als brandhout en er voldoende vrijwilligers gevonden werden om mee te helpen, komt de inspanning nu vooral bij de eigenaar of gebruiker te liggen. Hierdoor worden tegenwoordig maar weinig nieuwe KLE's aangeplant.
    </p>
    <p>
        Het beheer is niet alleen tijdrovend, maar bovendien ook een gevaarlijke klus. Recent zijn er nieuwe machines om het beheer efficiënter te maken.
    </p>
    <p>
        Op <span class="fw-bold color1">24 november 2022</span> organiseerden we vanuit het PDPO-project samen met de Provincie Oost-Vlaanderen een <span class="fw-bold color1">infomoment rond het nut van knotbomen</span> in Oosterzele.
    </p>
    <p>
        De 60 deelnemers kregen een duidelijk overzicht van alle bestaande <span class="fw-bold color1">steunmaatregelen bij aanplant en beheer</span> van (knot)bomen, houtkanten, heggen en hagen in de 4 Rodelandgemeenten. De nuttige toepassingen van <span class="fw-bold color1">houtsnippers als duurzame energiebron</span> en <span class="fw-bold color1">als koolstofbron in de bodem</span> werden toegelicht. En via de live <span class="fw-bold color1">demo met velkop en kraan</span> konden de deelnemers ter plaatse zien hoe het onderhoudswerk efficiënt en veilig kan verlopen.
    </p>
    <p>
        <span class="fw-bold color1">Gemist?</span> Geen nood, download <a class="text" href="/static/pdpo/Schema_steun_aanplant&beheer_KLE_Rodeland_V20221124.pdf" download>het handige schema</a> en <a class="text" href="/static/pdpo/Uitleg_steun_aanplant&beheer_KLE_Rodeland_V20221124.pdf" download>het document met meer uitleg</a> over waar je als inwoner van Gavere, Melle, Merelbeke en Oosterzele terecht kan voor steun bij de aanplant en het beheer van je houtige KLE.
    </p>

    <div class="row">
        <div class="col-6">
            <figure class="figure">
                <img class="img-fluid" src="/static/images/pdpo/20221124_111230.jpg" />
            </figure>
        </div>
        <div class="col-6">
            <figure class="figure">
                <img class="img-fluid" src="/static/images/pdpo/20221124_120611.jpg" />
            </figure>
        </div>
    </div>


    <div>
        <h2 class="mt-4">Meer weten?</h2>
        <p>
            Wil je graag meer weten of op de hoogte blijven van de demo's die op de planning staan? Stuur dan een mailtje naar <a class="text" href="mailto:info@rodeland.be">info@rodeland.be</a> of volg het via <a class="text" href="https://www.facebook.com/Rodelandproject/" target="_blank">facebook.com/rodelandproject</a>.
        </p>
    </div>

    <div class="w-100 mt-5">
        <img class="img-fluid" src="/static/images/pdpo/OKW_Oost_Vlaanderen.png" />
    </div>
    <div class="mt-5">
        <img class="img-fluid" src="/static/images/pdpo/20221124_111052.jpg" />
    </div>
</div>
{% endblock %}
