{% extends "index.html" %}

{% block embody %}

<div id="pdpo" class="container-md mt-5">
    <h2 class="pb-3">Kom je ook naar het poelenfeestje in Melle?</h2>
    <p>Wanneer: zondag 2 oktober (14u-17u)</p>
    <p>Plaats: Meersstraat in Melle, op de grens met Merelbeke</p>
    <h3>Wat mag je verwachten?</h3>
    <p>Op zondag 2 oktober stellen we graag de eerste nieuwe poel van het Poelenplan Rodeland aan jullie voor. Kom tegen 14u naar de Meersstraat in Melle. Je ontmoet er de Rodelandpartners die samengewerkt hebben om deze poel te realiseren. Intussen kan je genieten van een lokaal drankje en versnapering.</p>
    <p>Voor deze feestelijke inhuldiging hebben we jouw hulp nodig! Via een mensenketting willen we de nieuwe poel verbinden met een waardevolle reeds bestaande poel in Merelbeke. Zo brengen we met emmers water nieuw leven over van de bestaande naar de nieuwe poel.</p>
    <p>Daarna kan je een kijkje gaan nemen bij de bestaande poelen in de buurt. Welke dieren en planten leven in zo’n poel? Zijn het echt hotspots van biodiversiteit? Je kan ook mee op verkenning in het natuurgebied Gondebeek met een ervaren gids van Natuurpunt Oosterzele.</p>
    <p>De activiteiten zijn ook geschikt voor families met jonge kinderen.</p>
    <h3>Praktische informatie</h3>
    <ul>
        <li>Zondag 2 oktober van 14 tot 17 uur</li>
        <li>Meersstraat in Melle, op de grens met Merelbeke</li>
        <li>Trek aangepast schoeisel aan (regenlaarzen of stevige stapschoenen)</li>
        <li>Kom bij voorkeur met de fiets of te voet</li>
        <li>Parkeren met de wagen doe je het best aan het station van Gontrode. Via een korte, bewegwijzerde wandeling doorheen het bos (optie 1) of langs verharde wegen (optie 2) kom je vanzelf bij de nieuwe poel</li>
        <li>Volg het laatste nieuws op <a class="text" href="https://www.facebook.com/Rodelandproject/" target="_blank">facebook.com/rodelandproject</a></li>
        <li>Gratis. Om praktische redenen vragen we je komst vooraf aan te melden. Dat kan je doen door het invullen van het inschrijvingsformulier via <a class="text" href="https://forms.gle/df8BXmj5iLrGH6kcA" target="_blank">deze link</a>.  Graag vóór vrijdag 30/9/2022. Zo kunnen we je ook makkelijk op de hoogte houden.</li>
    </ul>
    <h3>Poelenplan Rodeland</h3>
    <p>Poelen zijn veelzijdig: ze dienen als leefgebied voor amfibieën en insecten zoals libellen, als groeiplaats voor water-, moeras- en oeverplanten, maar ook als drinkplaats voor vogels en zoogdieren. In 2021 maakte Natuurpunt Studie, in opdracht van Provincie Oost-Vlaanderen, <a href="http://www.oost-vlaanderen.be/poelenplan-rodeland" target="_blank" class="text">het Poelenplan Rodeland</a> op. Dit Poelenplan brengt de aanwezigheid in kaart van salamanders, kikkers en padden op het grondgebied van Gavere, Melle en Oosterzele. 30 bestaande poelen werden geïnventariseerd en er werden ook 30 bijkomende locaties aangeduid die geschikt zijn voor de aanleg van nieuwe poelen. Samen met de betrokken eigenaars, de Regionale Landschappen, natuurverenigingen, lokale en Vlaamse overheden, wil de Provincie met dit plan een boost geven aan de biodiversiteit.</p>
    <h3>Vragen?</h3>
    <p>Heb je nog verdere vragen? Dan kan je terecht bij Sofie Van Brussel, coördinator van het landschapsproject Rodeland: <a class="text" href="mailto:info@rodeland.be">info@rodeland.be</a> of 0474 56 65 26.</p>
    <div class="row mt-4">
        <div class="col-6">
            <figure class="figure">
                <img class="img-fluid" src="/static/poelenfeest/bestaande_poel_Merelbeke.jpg" />
                <figcaption class="figure-caption">Bestaande poel Neerstraat Merelbeke</figcaption>
            </figure>
        </div>
        <div class="col-6">
            <figure class="figure">
                <img class="img-fluid" src="/static/poelenfeest/nieuwe_poellocatie_Meersstraat.jpg" />
                <figcaption class="figure-caption">Locatie nieuwe poel Meersstraat Melle</figcaption>
            </figure>
        </div>
    </div>
</div>

{% endblock %}
