{% extends "index.html" %}

{% block embody %}
<div id="start" class="mt-4">
    <div class="container">
        <!-- <div id="startbanner" class="text-center p-3 mb-4">
            <p>Online infomoment Rodeland voor land- en tuinbouwers op woensdag 9 juni!</p>
            <p class="mb-0"><a class="underline color1" href="/infomoment">Klik hier voor meer info en inschrijving.</a></p>
        </div> -->
        <div class="row pb-5">
            <div class="col-12">
                <!-- <img class="d-block w-100" src="/static/images/banner Rodelanddag 2021a.jpg"> -->
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></button>
                        <button  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
                        <button  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button>
                        <button  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/static/images/foto4.jpg" alt="Slide4">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/static/images/foto3.jpg" alt="Slide3">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/static/images/foto2.jpg" alt="Slide2">
                        </div>
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="/static/images/foto1.jpg" alt="Slide1">
                        </div>
                    </div>
                    <button  class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button >
                    <button  class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row mb-4">
                    <div class="col-12">
                        <h2 class="pb-3">Welkom op de website van het Rodelandproject!</h2>
                        <p>
                            De realisaties van 2023 en de nieuwe acties voor 2024 staan online, ontdek het snel <a class="text" href="/acties">hier</a>!
                            Verder vind je op deze site een antwoord op de vraag wat het Rodelandproject precies inhoudt, wat de <a class="text" href="/wat">14 projectdoelstellingen</a> zijn en wie de <a class="text" href="/wie">projectpartners</a> zijn.
                        </p>
                        <p>De website en het project zijn in volle opbouw, je zal hier regelmatig iets nieuws ontdekken.</p>
                    </div>
                </div>

                <div class="mb-4">
                    <div class="bg-color3 p-3 mb-4">
                        <h4 class="m-0 fs-3">Nieuw subsidiereglement voor houtige KLE en bloemenranden in de 4 Rodelandgemeenten!</h2>
                    </div>
                    <div class="mb-4">
                        <p>In het kader van het plattelandsproject werd nauw samengewerkt met de 4 Rodelandgemeenten om tot een nieuw gemeentelijk subsidiereglement voor de aanplant en het beheer van houtige kleine landschapselementen te komen, helemaal identiek in de 4 gemeenten!</p>
                        <p class="fst-italic">Opgelet: je blijft je subsidie aanvragen bij de gemeente waarin je KLE is gelegen.</p>
                        <p>Kort even de belangrijkste nieuwigheden op een rij:
                            <ul>
                                <li>Bondig en helder, een toegankelijk reglement voor de aanvragers en het gemeentepersoneel;</li>
                                <li>Stemt de subsidiebedragen af op de actuele reële kost van aanplant en beheer;</li>
                                <li>Kiest niet langer voor het vergoeden van een hele waaier aan maatregelen, maar wel voor hogere subsidiebedragen voor een beperkt aantal gerichte maatregelen;</li>
                                <li>Voorziet ook vergoedingen voor bloemrijke akkerranden omwille van hun maatschappelijke voordelen in het agrarisch landschap.</li>
                            </ul>
                        </p>
                        <p>Het nieuwe subsidiereglement trad in werking op 1 juli 2024. Je vindt het aanvraagformulier en meer info op de gemeentelijke websites:
                            <ul>
                                <li><a class="text" href="https://gavere.be/burger/milieu-en-natuur/subsidies/subsidie-voor-kleine-landschapselementen-en-bloemenranden" target="_blank">Gavere</a></li>
                                <li><a class="text" href="https://www.melle.be/subsidies-voor-kleine-landschapselementen" target="_blank">Melle</a></li>
                                <li><a class="text" href="https://www.merelbeke.be/afval-en-milieu/milieubeleid/subsidie-voor-de-aanleg-en-het-beheer-van-kleine-landschapselementen" target="_blank">Merelbeke</a></li>
                                <li><a class="text" href="https://www.oosterzele.be/burger/milieu-en-natuur/openbaar-groen/kleine-landschapselementen" target="_blank">Oosterzele</a></li>
                            </ul>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <figure class="figure">
                                <img class="img-fluid" src="/static/images/pdpo/KLE_Oosterzele_02.jpg" />
                            </figure>
                        </div>
                        <div class="col-6">
                            <figure class="figure">
                                <img class="img-fluid" src="/static/images/pdpo/KLE_Melle.jpg" />
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <div class="bg-color3 p-3 mb-4">
                        <h4 class="m-0 fs-3">Zaai je eigen bloemenweide!</h4>
                    </div>
                    <div class="mb-4">
                        <p>De deelnemers aan het Landschapsfeestje Rodeland van 26 mei 2024 kregen een <span class="fw-bold color1">zakje bloemenzaad</span> mee naar hun tuin als aandenken. September en oktober zijn de ideale maanden om een meerjarige bloemenrand in te zaaien.</p>
                        <p>De samenstelling van het meerjarig bloemenmengsel in de zakjes is identiek aan het mengsel dat landbouwers uit de 4 Rodelandgemeenten hebben uitgezaaid in hun akkerranden in het kader van het <a class="text" href="/pdpo">Plattelandsproject 'Samen+Werken aan het landbouwlandschap in Rodeland'</a>.</p>
                        <p><span class="fw-bold color1">Tips en tricks</span> hoe je best te werk gaat bij de aanleg en het beheer van je eigen bloemenweide kan je <a class="text" href="/static/items/2023_bloemenweide/Bloemenweide_Rodeland_handleiding_10sept2023.pdf" download>hier</a> downloaden.</p>
                        <p>De bloemenzaden werden met zorg <span class="fw-bold color1">verpakt</span> door de bewoners van het <a class="text" href="https://www.ebergiste.be/" target="_blank">centrum voor dagbesteding van Ebergiste in Borgwal</a>.</p>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-6">
                                <figure class="figure">
                                    <img class="img-fluid" src="/static/items/2023_bloemenweide/foto_bloemenzaad_01.jpg" />
                                </figure>
                            </div>
                            <div class="col-6">
                                <figure class="figure">
                                    <img class="img-fluid" src="/static/items/2023_bloemenweide/foto_bloemenzaad_02.jpg" />
                                </figure>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <figure class="figure">
                                    <img class="img-fluid" src="/static/items/2023_bloemenweide/foto_bloemenzaad_03.jpg" />
                                </figure>
                            </div>
                            <div class="col-6">
                                <figure class="figure">
                                    <img class="img-fluid" src="/static/items/2023_bloemenweide/foto_bloemenzaad_04.jpg" />
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="bg-color3 p-3 mt-4 mb-4">
                    <h4 class="m-0 fs-3">Poelenplan Rodeland wil een boost geven aan de biodiversiteit</h4>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>Op 10 mei 2022 werd het Poelenplan Rodeland voorgesteld aan pers en publiek in Moortsele. Het volledige rapport kan je <a href="http://www.oost-vlaanderen.be/poelenplan-rodeland" target="_blank" class="text">hier</a> downloaden.</p>
                        <p>Poelen zijn voor amfibieën, libellen en (water)planten van levensbelang. Het zijn ware hotspots voor biodiversiteit. Het provinciebestuur bestelde daarom in 2021 het Poelenplan Rodeland bij Natuurpunt Studie. Dit rapport brengt de actuele aanwezigheid van amfibieën in kaart binnen de perimeter van het landschapsproject Rodeland op het grondgebied van Gavere, Melle en Oosterzele en gaat tegelijk ook op zoek naar kansen voor uitbreiding en versterking van de bestaande populaties.</p>
                        <img src="/static/images/voorstelling_poelenplan/foto_01.jpg" width="500" class="img-fluid mx-auto d-block mb-3" alt="...">
                        <p>Het rapport is een bruikbaar instrument voor het optimaal beheer van 30 bestaande poelen. Ook worden 30 extra locaties voorgesteld die geschikt zijn om nieuwe poelen aan te leggen. Deze voorstellen houden geen verplichting in naar de betreffende grondeigenaars en/of beheerders. De aanleg van nieuwe poelen zal enkel gebeuren op vrijwillige basis.</p>
                        <img src="/static/images/voorstelling_poelenplan/kleine_watersalamander_BrechtAlderweireldt.jpg" width="500" class="img-fluid mx-auto d-block mb-3" alt="...">
                        <p>Reeds in 2004 liet het lokaal bestuur van Merelbeke een poelenplan voor hun grondgebied opmaken. Sindsdien zijn in Merelbeke 63 nieuwe poelen aangelegd en zijn de salamanderpopulaties er sterk op vooruit gegaan. Voor het provinciebestuur Oost‐Vlaanderen is het Merelbeekse poelenplan een succesvol voorbeeld dat absoluut navolging verdient.</p>
                        <img src="/static/images/voorstelling_poelenplan/vinpootsalamander_BrechtAlderweireldt.jpg" width="500" class="img-fluid mx-auto d-block mb-3" alt="...">
                        <p>Dat is er nu dus met het Poelenplan Rodeland dat de komende jaren een stimulerend kader zal vormen voor het herstel en beheer van bestaande poelen en voor de realisatie van nieuwe poelen. Samen met de betrokken eigenaars, de lokale besturen en Vlaamse overheid, de regionale landschappen en natuurverenigingen actief in Rodeland, wil de Provincie met dit poelenplan een boost geven aan de biodiversiteit.</p>
                    </div>
                </div>
                <div class="bg-color3 p-3 mt-4 mb-4">
                    <h4 class="m-0 fs-3">Extra budget voor amfibieën en vleermuizen in Rodeland</h4>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>De Rodelandpartners krijgen extra budget voor een aantal van hun initiatieven, want minister van Natuur Zuhal Demir keurde eind 2022 twee natuurherstelprojecten goed: amfibietunnels en optimalisatiewerken voor een vleermuizenkolonie</p>
                        <div class="row mt-5">
                            <div class="col-sm-9">
                                <p><b>Projectsubsidie amfibietunnels Landskoutersesteenweg in Merelbeke en Oosterzele</b></p>
                                <p>De projectsubsidie voor de amfibietunnels onder de Landskoutersesteenweg werd ingediend door de gemeenten Merelbeke en Oosterzele in samenwerking met Natuurpunt Oosterzele. De amfibietunnels zullen worden geplaatst bij de heraanleg van de Landskoutersesteenweg op een plek waar de lokale Natuurpuntafdeling samen met de gemeente Oosterzele al jaren een overzetactie voor amfibieën organiseert in het vroege voorjaar. De tunnels zullen zorgen voor een veilige doortocht voor padden, kikkers en salamanders. Op deze wijze wordt een verbinding gecreëerd tussen het Natuurreservaat Gondebeekvallei en de percelen van het ILVO naar de stroomopwaarts gelegen Driesbeekvallei. Het subsidiebedrag bedraagt 54.885 euro voor 5 tunnels en geleidingswanden.</p>
                            </div>
                            <div class="col-sm-3">
                                <img src="/static/images/overzet.jpg" class="img-fluid" alt="...">
                            </div>
                        </div>
                        <div class="row mt-sm-5">
                            <div class="col-3">
                                <img src="/static/images/kerk_vurste.jpg" class="img-fluid" alt="...">
                            </div>
                            <div class="col-sm-9">
                                <p><b>Projectsubsidie voor vleermuizen in de kerk van Vurste</b></p>
                                <p>De projectsubsidie soorten rond de vleermuizenkolonie werd ingediend door Regionaal Landschap Vlaamse Ardennen in samenwerking met Vespertillio vzw en de Kerkfabriek. De zolder van de kerk van Vurste wordt verder ingericht voor de kraamkolonie. Hierbij worden onder andere nissen hersteld, kabelgaten afgesloten en invliegopeningen geoptimaliseerd. Het subsidiebedrag voor de kerk van Vurste bedraagt 8.313 euro. Dit project kadert in een ruimer project waarbij ook de kerken van Eine, Lede, Lozer en Mullem worden ingericht. Vleermuizen zijn Europees beschermd en veel soorten zijn bedreigd of achteruitgaand. Kerkzolders vormen sleutelplaatsen omdat de jongen van een reeks soorten daar geboren en grootgebracht worden.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-color3 p-3 mt-4 mb-4">
                    <h4 class="m-0 fs-3">Europese topnatuur in Rodeland</h4>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>Natuur en Bos maakte in samenwerking met de werkgroep Communicatie en beleving van het Rodelandproject een filmpje over Europese topnatuur in Rodeland. Hierin is te zien waar en op welke wijze verschillende partners actief bezig zijn met natuurbehoud en -herstel in Natura 2000-gebied.</p>
                        <!-- allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" width="100%" height="400" src="https://www.youtube.com/embed/oRZmdF6FblI" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
