{% extends "base.html" %}

{% block content %}
<div id="start" class="mt-4">
    <div class="container max-w-screen-xl mx-auto">

        <div id="carouselExample" class="relative w-full" data-carousel="slide">
            <div class="relative h-56 overflow-hidden rounded-lg sm:h-64 xl:h-80 2xl:h-96">
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/static/images/foto4.jpg" class="absolute inset-0 w-full h-full object-cover" alt="Slide 1">
                </div>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/static/images/foto3.jpg" class="absolute inset-0 w-full h-full object-cover" alt="Slide 2">
                </div>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/static/images/foto2.jpg" class="absolute inset-0 w-full h-full object-cover" alt="Slide 3">
                </div>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/static/images/foto1.jpg" class="absolute inset-0 w-full h-full object-cover" alt="Slide 4">
                </div>
            </div>

            <!-- Slider controls -->
            <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50">
                    <svg class="w-5 h-5 text-rodeland-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
                    </svg>
                    <span class="sr-only">Previous</span>
                </span>
            </button>
            <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50">
                    <svg class="w-5 h-5 text-rodeland-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                    </svg>
                    <span class="sr-only">Next</span>
                </span>
            </button>
        </div>
             
        <div>
            <div class="mt-8 mb-8">
                <h2 class="pb-3 text-3xl text-rodeland-2 font-normal">Welkom op de website van het Rodelandproject!</h2>
                <div class="prose max-w-none ">
                    <p>
                        Hier vind je een antwoord op de vraag wat het Rodelandproject precies inhoudt, wat de <a class="text-rodeland-3" href="/wat">14 projectdoelstellingen</a> zijn en wie de <a class="text-rodeland-3" href="/wie">projectpartners</a> zijn. 
                    </p>
                    <p>
                        Maak ook kennis met de partners achter het <a class="text-rodeland-3" href="https://sites.google.com/view/rodelandbrood" target="_blank" rel="noopener">Rodelandbrood</a>  en ga zelf op ontdekking in Rodeland via het <a class="text-rodeland-3" href="/wandel-fiets">overzichtje van de wandel- en fietsroutes</a>!
                    </p>
                    <p>
                        En vanaf nu is alle info ook overzichtelijk samengebracht in onze nieuwe flyer, <a class="text-rodeland-3" href="/static/Flyer_Rodeland.pdf" download>hier</a> eenvoudig te downloaden.
                    </p>
                </div>

                <div class="grid grid-cols-4 gap-x-4 mt-4">
                    <div>
                        <figure class="m-0">
                            <a href="/static/Rodeland_flyer-01.jpg" target="_blank"><img class="img-fluid m-0" src="/static/Rodeland_flyer-01.jpg" /></a>
                        </figure>
                    </div>
                    <div>
                        <figure class="m-0">
                            <a href="/static/Rodeland_flyer-02.jpg" target="_blank"><img class="img-fluid m-0" src="/static/Rodeland_flyer-02.jpg" /></a>
                        </figure>
                    </div>
                    <div>
                        <figure class="m-0">
                            <a href="/static/Rodeland_flyer-03.jpg" target="_blank"><img class="img-fluid m-0" src="/static/Rodeland_flyer-03.jpg" /></a>
                        </figure>
                    </div>
                    <div>
                        <figure class="m-0">
                            <a href="/static/Rodeland_flyer-04.jpg" target="_blank"><img class="img-fluid m-0" src="/static/Rodeland_flyer-04.jpg" /></a>
                        </figure>
                    </div>
                </div>  
                
            </div>

            <div>

                <div class="mb-8 prose max-w-none">
                    <h2 class="text-3xl text-rodeland-1 font-normal m-0 bg-rodeland-3 p-3 rounded">Nieuwe amfibieëntunnels in de Gondebeekvallei</h2>
                    <p>
                        Op zondag 6 april werden de nieuwe tunnels onder de Landskoutersesteenweg-Lembergestraat feestelijk aan het publiek voorgesteld. De deelnemers maakten ook van dichtbij kennis met een aantal van de toekomstige gebruikers van de tunnels.
                    </p>
                    <p>De aanleg van de amfibieëntunnels is een gezamenlijk initiatief van de gemeentebesturen van Merelbeke-Melle en Oosterzele in het kader van het Rodelandproject met financiële steun van het Agentschap voor Natuur en Bos (Projectsubsidie Natuur) en met steun van Natuurpunt.</p>
                    <p>De gemeenten hebben de rioleringswerken in Landskouter en de heraanleg van de weg aangegrepen om de weg te ondertunnelen op de plaatsen waar elk jaar honderden amfibieën de baan oversteken op weg naar hun voortplantingspoelen. Natuurpunt Oosterzele organiseerde er al sinds 2009 jaarlijks een overzetactie voor amfibieën.</p>
                    <p>De tunnels zorgen zo voor een veilige doortocht voor padden, kikkers en salamanders. Nu is er jaarrond een verbinding aanwezig tussen het Aelmoeseneiebos en de Driesbeek- en Molenbeekvallei stroomopwaarts.</p>
                    <div class="non-prose grid grid-cols-2 gap-x-4">
                        <div>
                            <figure class="m-0">
                                <img class="img-fluid m-0" src="/static/items/2025_gondebeekvallei/20250406_135845.jpg" />
                            </figure>
                        </div>
                        <div>
                            <figure class="m-0">
                                <img class="img-fluid m-0" src="/static/items/2025_gondebeekvallei/20250406_110142.jpg" />
                            </figure>
                        </div>
                    </div>

                    <div class="non-prose">
                        <figure class="m-0">
                            <img class="img-fluid" src="/static/items/2025_gondebeekvallei/20250406_101205.jpg" />
                        </figure>
                    </div class="non-prose">
                    <div class="flex justify-center">
                        <img class="my-0" src="/static/items/2025_gondebeekvallei/Picture3.jpg" />
                    </div>
                </div>

                <div class="mb-8 prose max-w-none">
                    <h2 class="text-3xl text-rodeland-1 font-normal m-0 bg-rodeland-3 p-3 rounded">Nieuw subsidiereglement voor houtige KLE en bloemenranden in de Rodelandgemeenten!</h2>
                    <div class="mb-4">
                        <p>In het kader van het plattelandsproject werd nauw samengewerkt met de Rodelandgemeenten om tot een nieuw gemeentelijk subsidiereglement voor de aanplant en het beheer van houtige kleine landschapselementen te komen, helemaal identiek in de 3 gemeenten!</p>
                        <p class="fst-italic">Opgelet: je blijft je subsidie aanvragen bij de gemeente waarin je KLE is gelegen.</p>
                        <p>Kort even de belangrijkste nieuwigheden op een rij:
                            <ul>
                                <li>Bondig en helder, een toegankelijk reglement voor de aanvragers en het gemeentepersoneel;</li>
                                <li>Stemt de subsidiebedragen af op de actuele reële kost van aanplant en beheer;</li>
                                <li>Kiest niet langer voor het vergoeden van een hele waaier aan maatregelen, maar wel voor hogere subsidiebedragen voor een beperkt aantal gerichte maatregelen;</li>
                                <li>Voorziet ook vergoedingen voor bloemrijke akkerranden omwille van hun maatschappelijke voordelen in het agrarisch landschap.</li>
                            </ul>
                        </p>
                        <p>Het nieuwe subsidiereglement trad in werking op 1 juli 2024. Je vindt het aanvraagformulier en meer info op de gemeentelijke websites:
                            <ul>
                                <li><a class="text-rodeland-3" href="https://gavere.be/burger/milieu-en-natuur/subsidies/subsidie-voor-kleine-landschapselementen-en-bloemenranden" target="_blank">Gavere</a></li>
                                <li>Merelbeke-Melle (binnenkort online)</li>
                                <li><a class="text-rodeland-3" href="https://www.oosterzele.be/burger/milieu-en-natuur/openbaar-groen/kleine-landschapselementen" target="_blank">Oosterzele</a></li>
                            </ul>
                        </p>
                    </div>
                    <div class="grid grid-cols-2 gap-4">
                        <div>
                            <figure class="m-0">
                                <img class="img-fluid" src="/static/images/pdpo/KLE_Oosterzele_02.jpg" />
                            </figure>
                        </div>
                        <div>
                            <figure class="m-0">
                                <img class="img-fluid" src="/static/images/pdpo/KLE_Melle.jpg" />
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="mb-8 prose max-w-none">
                    <h2 class="text-3xl text-rodeland-1 font-normal m-0 bg-rodeland-3 p-3 rounded">Poelenplan Rodeland wil een boost geven aan de biodiversiteit</h2>
                    <p>Op 10 mei 2022 werd het Poelenplan Rodeland voorgesteld aan pers en publiek in Moortsele. Het volledige rapport kan je <a href="http://www.oost-vlaanderen.be/poelenplan-rodeland" target="_blank" class="text-rodeland-3">hier</a> downloaden.</p>
                    <p>Poelen zijn voor amfibieën, libellen en (water)planten van levensbelang. Het zijn ware hotspots voor biodiversiteit. Het provinciebestuur bestelde daarom in 2021 het Poelenplan Rodeland bij Natuurpunt Studie. Dit rapport brengt de actuele aanwezigheid van amfibieën in kaart binnen de perimeter van het landschapsproject Rodeland op het grondgebied van Gavere, Melle en Oosterzele en gaat tegelijk ook op zoek naar kansen voor uitbreiding en versterking van de bestaande populaties.</p>
                    <img src="/static/images/voorstelling_poelenplan/foto_01.jpg" width="500" class="img-fluid mx-auto d-block mb-3" alt="...">
                    <p>Het rapport is een bruikbaar instrument voor het optimaal beheer van 30 bestaande poelen. Ook worden 30 extra locaties voorgesteld die geschikt zijn om nieuwe poelen aan te leggen. Deze voorstellen houden geen verplichting in naar de betreffende grondeigenaars en/of beheerders. De aanleg van nieuwe poelen zal enkel gebeuren op vrijwillige basis.</p>
                    <img src="/static/images/voorstelling_poelenplan/kleine_watersalamander_BrechtAlderweireldt.jpg" width="500" class="img-fluid mx-auto d-block mb-3" alt="...">
                    <p>Reeds in 2004 liet het lokaal bestuur van Merelbeke een poelenplan voor hun grondgebied opmaken. Sindsdien zijn in Merelbeke 69 nieuwe poelen aangelegd en zijn de salamanderpopulaties er sterk op vooruit gegaan. Voor het provinciebestuur Oost‐Vlaanderen is het Merelbeekse poelenplan een succesvol voorbeeld dat absoluut navolging verdient.</p>
                    <img src="/static/images/voorstelling_poelenplan/vinpootsalamander_BrechtAlderweireldt.jpg" width="500" class="img-fluid mx-auto d-block mb-3" alt="...">
                    <p>Dat is er nu dus met het Poelenplan Rodeland dat een stimulerend kader vormt voor het herstel en beheer van bestaande poelen en voor de realisatie van nieuwe poelen. Samen met de betrokken eigenaars, de lokale besturen en de Vlaamse overheid, de regionale landschappen, de Bosgroep Oost-Vlaanderen en natuurverenigingen actief in Rodeland, wil de Provincie met dit poelenplan een boost geven aan de biodiversiteit.</p>
                
                    <div class="non-prose">
                        <figure class="m-0">
                            <img class="img-fluid" src="/static/items/20241008_115218.jpg" />
                        </figure>
                    </div>
                </div>
                
                <div class="mb-8 prose max-w-none">
                    <h2 class="text-3xl text-rodeland-1 font-normal m-0 bg-rodeland-3 p-3 rounded">Europese topnatuur in Rodeland</h2>
                    <p>Natuur en Bos maakte in samenwerking met de werkgroep Communicatie en beleving van het Rodelandproject een filmpje over Europese topnatuur in Rodeland. Hierin is te zien waar en op welke wijze verschillende partners actief bezig zijn met natuurbehoud en -herstel in Natura 2000-gebied.</p>
                    <!-- allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="100%" height="400" src="https://www.youtube.com/embed/oRZmdF6FblI" allowfullscreen></iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
