{% extends "index.html" %}

{% block embody %}
<div id="start" class="mt-4">
    <div class="container">
        <!-- <div id="startbanner" class="text-center p-3 mb-4">
            <p>Online infomoment Rodeland voor land- en tuinbouwers op woensdag 9 juni!</p>
            <p class="mb-0"><a class="underline color1" href="/infomoment">Klik hier voor meer info en inschrijving.</a></p>
        </div> -->
        <div class="row pb-5">
            <div class="col-12">
                <!-- <img class="d-block w-100" src="/static/images/banner Rodelanddag 2021a.jpg"> -->
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></button>
                        <button  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
                        <button  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button>
                        <button  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/static/images/foto4.jpg" alt="Slide4">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/static/images/foto3.jpg" alt="Slide3">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/static/images/foto2.jpg" alt="Slide2">
                        </div>
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="/static/images/foto1.jpg" alt="Slide1">
                        </div>
                    </div>
                    <button  class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button >
                    <button  class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row mb-4">
                    <div class="col-12">
                        <h2 class="pb-3">Welkom op de website van het Rodelandproject!</h2>
                        <p>
                            De realisaties van 2022 en de nieuwe acties voor 2023 staan online, ontdek het snel <a class="text" href="/acties">hier</a>!
                            Verder vind je op deze site een antwoord op de vraag wat het Rodelandproject precies inhoudt, wat de <a class="text" href="/wat">14 projectdoelstellingen</a> zijn en wie de <a class="text" href="/wie">projectpartners</a> zijn.
                        </p>
                        <p>De website en het project zijn in volle opbouw, je zal hier regelmatig iets nieuws ontdekken.</p>
                    </div>
                </div>

                <div class="mb-4">
                    <div class="bg-color3 p-3 mb-4">
                        <h4 class="m-0 fs-3">Kom op 26 mei naar het Landschapsfeestje Rodeland in Vurste!</h4>
                    </div>
                    <div class="mb-4">
                        <p>
                            Er valt heel wat te beleven op zondagnamiddag 26 mei 2024 in Vurste! Je bent welkom vanaf 13u op het kasteeldomein Borgwal - Ebergiste voor een goed gevuld programma:
                            <ul>
                                <li>
                                    Aan de <span class="fw-bold color1">duiventoren</span> op het <span class="fw-bold color1">binnenplein van Borgwal</span> wacht je een aangename kennismaking met de Rodelandpartners en andere organisaties die bouwen aan het landschap. Volg een leuke workshop met wilde kruiden of ga voor een fris bloemenkapsel, proef van heerlijk aardbeienijs recht van de korte keten en kom meer te weten over het unieke historisch erfgoed rondom je! Op de Borgwalhoeve van Ebergiste kan je terecht voor een drankje en een heerlijk stuk taart.
                                </li>
                                <li>
                                    Een <span class="fw-bold color1">mooie wandeling</span> door het kasteelpark en langs trage wegen in Vurste brengt je langs de boswachter van het Ganzendambos (Agentschap Natuur en Bos), mooie bloemenranden met bijen en hommels, een ijskelder met vleermuizen, een prachtige bloementuin, een kiwibessenveld met heerlijk sap, een historische hoeve met kaas en wol,… Je kan kiezen tussen een lus van 5,3 km of een iets langere lus van 6,4 km. Beide wandelingen zijn <span class="text-decoration-underline">volledig bewegwijzerd</span> en passeren langs de 10 stopplaatsen. Tip: voorzie voldoende tijd voor de wandeling!
                                </li>
                                <li>
                                    En <span class="fw-bold color1">fietsen</span> kan ook! Die namiddag lanceert het Regionaal Landschap Vlaamse Ardennen haar nieuwe fietsroute (25 km) langs houtig erfgoed in Gavere. Ga met de ErfgoedApp zelf op zoek naar oude bomen, hagen of struiken. Opgelet: deze fietsroute is niet ter plaatse bewegwijzerd, je volgt de route via de <a class="text" href="https://erfgoed.app/" target="_blank">ErfgoedApp</a> op je smartphone.
                                </li>
                            </ul>
                        </p>
                        <p>
                            Praktisch
                            <ul>
                                <li><span class="fw-bold color1">Ebergiste - Borgwal, Leenstraat 31, Vurste (Gavere)</span>: bar, infostandjes, workshops en startpunt van wandeling en fietstocht</li>
                                <li>Kom eerst even langs bij het <span class="fw-bold color1">onthaal</span>, daar krijg je een plannetje met alle info en krijg je te horen hoe je tijdens de wandeling kan meedoen aan onze wedstrijd</li>
                                <li><span class="fw-bold color1">13u-18u</span>: tal van infostandjes en activiteiten op het binnenplein naast de duiventoren</li>
                                <li><span class="fw-bold color1">13u-15u30</span>: start je wandeling, voorzie voldoende tijd als je alle stopplaatsen wil bezoeken en ontdekken</li>
                                <li><span class="fw-bold color1">13u-15u30</span>: officieel startmoment</li>
                                <li>Volg de laatste updates via onze <a class="text" href="https://www.facebook.com/Rodelandproject/" target="_blank">Facebookpagina</a></li>
                                <li><span class="fw-bold color1">Hoe deelnemen?</span> Deelname is gratis. Inschrijven vooraf is praktisch voor ons en kan via onderstaande link, maar je kan op de dag zelf ook gewoon langskomen en meedoen</li>
                                <li><span class="fw-bold color1">Nog vragen?</span> Stuur een mailtje naar <a class="text" href="mailto:info@rodeland.be">info@rodeland.be</a></li>
                            </ul>
                        </p>
                        <div class="d-flex justify-content-center my-4">
                            <a class="my-button p-3 fs-5 text-center" style="width:200px;" href="https://forms.gle/GvxmuWwgXe11ybsk8" target="_blank">Ik schrijf me in!</a>
                        </div>
                        <p class="fst-italic">
                            Organisatie van de Rodelandpartners, Ebergiste-Borgwal en andere organisaties actief in het landschap. Kadert in de Plattelandsprojecten <a class="text" href="/pdpo">Samen+Werken aan het landbouwlandschap in Rodeland (PDPO)</a> en <a class="text" href="https://www.rlva.be/nieuws/behout-het-verleden" target="_blank">BehouT het Verleden (LEADER)</a>.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <figure class="figure">
                                <img class="img-fluid" src="/static/items/2024_landschapsfeestje/Borgwal_02_SofieVanBrussel.jpg" />
                                <img class="img-fluid" src="/static/items/2024_landschapsfeestje/logos.jpg" />
                            </figure>
                        </div>
                    </div>
                </div>

                <!-- <div class="mb-4">
                    <div class="bg-color3 p-3 mb-4">
                        <h4 class="m-0 fs-3">Onze toekomst: warmer, natter en droger. Wat kan je doen als landbouwer? - 23 februari 2024, ILVO</h4>
                    </div>
                    <div class="mb-4">
                        <p class="text-center"><i>
                            Hoe wapen jij je als landbouwer tegen wateroverlast en droogte?</br>
                            Wat zou je nog willen doen?</br>
                            Op welke problemen bots je?
                        </i></p>
                        <p>Rond deze vragen gaan we graag met jou in gesprek op vrijdagvoormiddag 23 februari 2024. We bespreken samen zinvolle maatregelen en hoe praktisch te werk te gaan. Ook een bezoekje aan de stuwen in de gracht op de ILVO-percelen staat op het programma.</p>
                        <ul>
                            <li>Vrijdag 23 februari 9u30-13u, met broodjeslunch</li>
                            <li>ILVO - Eenheid Dier, Scheldeweg 68, Melle</li>
                            <li>Gratis deelname, wel inschrijven voor maandag 19 februari via <a class="text" href="https://forms.gle/e8mfng9eP143nTYL7" target="_blank">deze link</a></li>
                            <li>Klik <a class="text" href="/static/items/2024_demo-water/Uitnodiging_demo_water&droogte_ILVO_23februari2024.pdf" download>hier</a> voor het volledige programma</li>
                        </ul>
                        <p>Deze demo- en infodag is bedoeld voor alle landbouwers uit Gavere, Melle, Merelbeke en Oosterzele en is een gezamenlijke organisatie van <a class="text" href="https://ilvo.vlaanderen.be/nl/" target="_blank">ILVO</a>, Rodeland, <a class="text" href="https://www.oost-vlaanderen.be/" target="_blank">Provincie Oost-Vlaanderen</a>, <a class="text" href="https://www.merelbeke.be/" target="_blank">Gemeente Merelbeke</a>, <a class="text" href="https://www.melle.be/" target="_blank">Gemeente Melle</a>, <a class="text" href="https://www.gavere.be/" target="_blank">Gemeente Gavere</a>, <a class="text" href="https://www.oosterzele.be/" target="_blank">Gemeente Oosterzele</a> en het Water-Land-Schap 2.0-project 'Klimaatrobuuste vallei van de Molenbeek/Gondebeek en Driesbeek'.</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <figure class="figure">
                                <img class="img-fluid" src="/static/items/2024_demo-water/demo_water&droogte_ILVO_titel.jpg" />
                            </figure>
                        </div>
                        <div class="col-6">
                            <figure class="figure">
                                <img class="img-fluid" src="/static/items/2024_demo-water/demo_water&droogte_ILVO_stuw.jpg" />
                            </figure>
                        </div>
                        <div class="text-center">
                            <figure class="figure">
                                <img class="img-fluid" src="/static/items/2024_demo-water/demo_water&droogte_ILVO_logo's.jpg" />
                            </figure>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="mb-4">
                    <div class="bg-color3 p-3 mb-4">
                        <h4 class="m-0 fs-3">Blijf fietsen door het landbouwlandschap van Rodeland t.e.m. 15 november!</h4>
                    </div>
                    <div class="mb-4">
                        <p>Een 300-tal enthousiaste fietsers deden op 10 september 2023 mee aan onze Rodelandfietstocht, wat een heerlijke zondagnamiddag!</p>
                        <p>De deelnemers fietsten langs mooie en nuttige <span class="fw-bold color1">bloemenranden</span> van landbouwers, kregen uitleg over wat je zoal kan doen met het <span class="fw-bold color1">hout van knotbomen</span>, hoe je een <span class="fw-bold color1">gezonde bodem</span> kan herkennen,… Ook de teelt van <span class="fw-bold color1">oesterzwammen & shiitakes, groene asperges en biogroenten</span> kent geen geheimen meer voor hen, net zoals het leven en het werk van de <span class="fw-bold color1">honingbijen</span> en de korte keten van het <span class="fw-bold color1">Rodelandbrood</span>.</p>
                        <p>Om 14u was er een officieel startmoment op de Proefhoeve in Bottelare met gouverneur Carina Van Cauter, Jef Wittouck en Prof. Geert Haesaert.</p>
                        <p><span class="fw-bold color1">Goed nieuws</span> voor wie het heeft gemist of de lus nog eens wil fietsen: ook na 10 september kan er nog volop worden gefietst en ontdekt!</p>
                        <p>De <span class="fw-bold color1">wegwijzers</span> blijven hangen tot en met 15 november. Ter hoogte van de <span class="fw-bold color1">8 stopplaatsen</span> staan nu bordjes met uitleg.</p>
                        <p>De <span class="fw-bold color1">fietskaart</span> kan je hier downloaden en is gratis op papier af te halen in de <span class="fw-bold color1">bibliotheken</span> van de 4 Rodelandgemeenten, bij <span class="fw-bold color1">bakkerij Coens in Bottelare</span>, bij het <span class="fw-bold color1">toeristisch infopunt van Munte</span> en bij het toeristisch onthaalpunt <span class="fw-bold color1">De Poort in Gavere</span>.</p>
                        <div class="text-center"><a class="btn btn-primary btn-lg mt-2 mb-4" href="/static/items/2023_fietstocht/Rodeland_fietskaart_10september2023_klein.pdf" download>Download de fietskaart (PDF)</a></div>
                        <img src="/static/items/2023_fietstocht/Fietskaart_10september2023_Pjotr.jpg" class="img-fluid mb-4" alt="...">
                        <p><span class="fw-bold color1">Wat:</span> fietslus van <span class="fw-bold color1">15 km</span> door Merelbeke en Oosterzele, door mooie landschappen en deels langs onverharde wegen. Onderweg maak je kennis met interessante projecten en unieke korte keten bedrijven.</p>
                        <p><span class="fw-bold color1">Start- en eindpunt:</span> Proefhoeve van Bottelare, Diepestraat 1, Merelbeke</p>
                        <p>Initiatief van Rodeland, de Proefhoeve Bottelare (UGENT & HOGENT), Boerennatuur Vlaanderen en de Provincie Oost-Vlaanderen in samenwerking met lokale korte ketenproducenten in het kader van het <a class="text" href="/pdpo">Plattelandsproject 'Samen+Werken aan het landbouwlandschap in Rodeland'</a>.</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <figure class="figure">
                                <img class="img-fluid" src="/static/items/2023_fietstocht/foto_01.jpg" />
                            </figure>
                        </div>
                        <div class="col-6">
                            <figure class="figure">
                                <img class="img-fluid" src="/static/items/2023_fietstocht/foto_02.jpg" />
                            </figure>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <figure class="figure">
                                <img class="img-fluid" src="/static/items/2023_fietstocht/foto_03.jpg" />
                            </figure>
                        </div>
                        <div class="col-6">
                            <figure class="figure">
                                <img class="img-fluid" src="/static/items/2023_fietstocht/foto_04.jpg" />
                            </figure>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <figure class="figure">
                                <img class="img-fluid" src="/static/items/2023_fietstocht/foto_05.jpg" />
                            </figure>
                        </div>
                        <div class="col-6">
                            <figure class="figure">
                                <img class="img-fluid" src="/static/items/2023_fietstocht/foto_06.jpg" />
                            </figure>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <figure class="figure">
                                <img class="img-fluid" src="/static/items/2023_fietstocht/foto_07.jpg" />
                            </figure>
                        </div>
                        <div class="col-6">
                            <figure class="figure">
                                <img class="img-fluid" src="/static/items/2023_fietstocht/foto_08.jpg" />
                            </figure>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <figure class="figure">
                                <img class="img-fluid" src="/static/items/2023_fietstocht/foto_09.jpg" />
                            </figure>
                        </div>
                        <div class="col-6">
                            <figure class="figure">
                                <img class="img-fluid" src="/static/items/2023_fietstocht/foto_10.jpg" />
                            </figure>
                        </div>
                    </div>
                </div> -->

                <div class="mb-4">
                    <div class="bg-color3 p-3 mb-4">
                        <h4 class="m-0 fs-3">Zaai je eigen bloemenweide!</h4>
                    </div>
                    <div class="mb-4">
                        <p>De deelnemers aan de fietstocht van 10 september 2023 kregen een <span class="fw-bold color1">zakje bloemenzaad</span> mee naar hun tuin als aandenken. Op het Landschapsfeestje Rodeland van 26 mei zullen opnieuw gratis zakjes bloemenzaad worden verdeeld onder de deelnemers.</p>
                        <p>Bij wie het niet meer gelukt is om nog in te zaaien in september of oktober 2023, kan zijn bloemen ook dit voorjaar nog inzaaien. Zaaien kan al vanaf maart-april. De bloemenrand zal wel wat later in bloei komen dan wanneer je aan het eind van de zomer inzaait.</p>
                        <p>De samenstelling van het meerjarig bloemenmengsel in de zakjes is identiek aan het mengsel dat landbouwers uit de 4 Rodelandgemeenten hebben uitgezaaid in hun akkerranden in het kader van het <a class="text" href="/pdpo">Plattelandsproject 'Samen+Werken aan het landbouwlandschap in Rodeland'</a>.</p>
                        <p><span class="fw-bold color1">Tips en tricks</span> hoe je best te werk gaat bij de aanleg en het beheer van je eigen bloemenweide kan je <a class="text" href="/static/items/2023_bloemenweide/Bloemenweide_Rodeland_handleiding_10sept2023.pdf" download>hier</a> downloaden.</p>
                        <p>De bloemenzaden werden met zorg <span class="fw-bold color1">verpakt</span> door de bewoners van het <a class="text" href="https://www.ebergiste.be/" target="_blank">centrum voor dagbesteding van Ebergiste in Borgwal</a>.</p>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-6">
                                <figure class="figure">
                                    <img class="img-fluid" src="/static/items/2023_bloemenweide/foto_bloemenzaad_01.jpg" />
                                </figure>
                            </div>
                            <div class="col-6">
                                <figure class="figure">
                                    <img class="img-fluid" src="/static/items/2023_bloemenweide/foto_bloemenzaad_02.jpg" />
                                </figure>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <figure class="figure">
                                    <img class="img-fluid" src="/static/items/2023_bloemenweide/foto_bloemenzaad_03.jpg" />
                                </figure>
                            </div>
                            <div class="col-6">
                                <figure class="figure">
                                    <img class="img-fluid" src="/static/items/2023_bloemenweide/foto_bloemenzaad_04.jpg" />
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="bg-color3 p-3 mt-4 mb-4">
                    <h4 class="m-0 fs-3">Poelenplan Rodeland wil een boost geven aan de biodiversiteit</h4>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>Op 10 mei 2022 werd het Poelenplan Rodeland voorgesteld aan pers en publiek in Moortsele. Het volledige rapport kan je <a href="http://www.oost-vlaanderen.be/poelenplan-rodeland" target="_blank" class="text">hier</a> downloaden.</p>
                        <p>Poelen zijn voor amfibieën, libellen en (water)planten van levensbelang. Het zijn ware hotspots voor biodiversiteit. Het provinciebestuur bestelde daarom in 2021 het Poelenplan Rodeland bij Natuurpunt Studie. Dit rapport brengt de actuele aanwezigheid van amfibieën in kaart binnen de perimeter van het landschapsproject Rodeland op het grondgebied van Gavere, Melle en Oosterzele en gaat tegelijk ook op zoek naar kansen voor uitbreiding en versterking van de bestaande populaties.</p>
                        <img src="/static/images/voorstelling_poelenplan/foto_01.jpg" width="500" class="img-fluid mx-auto d-block mb-3" alt="...">
                        <p>Het rapport is een bruikbaar instrument voor het optimaal beheer van 30 bestaande poelen. Ook worden 30 extra locaties voorgesteld die geschikt zijn om nieuwe poelen aan te leggen. Deze voorstellen houden geen verplichting in naar de betreffende grondeigenaars en/of beheerders. De aanleg van nieuwe poelen zal enkel gebeuren op vrijwillige basis.</p>
                        <img src="/static/images/voorstelling_poelenplan/kleine_watersalamander_BrechtAlderweireldt.jpg" width="500" class="img-fluid mx-auto d-block mb-3" alt="...">
                        <p>Reeds in 2004 liet het lokaal bestuur van Merelbeke een poelenplan voor hun grondgebied opmaken. Sindsdien zijn in Merelbeke 63 nieuwe poelen aangelegd en zijn de salamanderpopulaties er sterk op vooruit gegaan. Voor het provinciebestuur Oost‐Vlaanderen is het Merelbeekse poelenplan een succesvol voorbeeld dat absoluut navolging verdient.</p>
                        <img src="/static/images/voorstelling_poelenplan/vinpootsalamander_BrechtAlderweireldt.jpg" width="500" class="img-fluid mx-auto d-block mb-3" alt="...">
                        <p>Dat is er nu dus met het Poelenplan Rodeland dat de komende jaren een stimulerend kader zal vormen voor het herstel en beheer van bestaande poelen en voor de realisatie van nieuwe poelen. Samen met de betrokken eigenaars, de lokale besturen en Vlaamse overheid, de regionale landschappen en natuurverenigingen actief in Rodeland, wil de Provincie met dit poelenplan een boost geven aan de biodiversiteit.</p>
                    </div>
                </div>
                <div class="bg-color3 p-3 mt-4 mb-4">
                    <h4 class="m-0 fs-3">Extra budget voor amfibieën en vleermuizen in Rodeland</h4>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>De Rodelandpartners krijgen extra budget voor een aantal van hun initiatieven, want minister van Natuur Zuhal Demir keurde eind 2022 twee natuurherstelprojecten goed: amfibietunnels en optimalisatiewerken voor een vleermuizenkolonie</p>
                        <div class="row mt-5">
                            <div class="col-sm-9">
                                <p><b>Projectsubsidie amfibietunnels Landskoutersesteenweg in Merelbeke en Oosterzele</b></p>
                                <p>De projectsubsidie voor de amfibietunnels onder de Landskoutersesteenweg werd ingediend door de gemeenten Merelbeke en Oosterzele in samenwerking met Natuurpunt Oosterzele. De amfibietunnels zullen worden geplaatst bij de heraanleg van de Landskoutersesteenweg op een plek waar de lokale Natuurpuntafdeling samen met de gemeente Oosterzele al jaren een overzetactie voor amfibieën organiseert in het vroege voorjaar. De tunnels zullen zorgen voor een veilige doortocht voor padden, kikkers en salamanders. Op deze wijze wordt een verbinding gecreëerd tussen het Natuurreservaat Gondebeekvallei en de percelen van het ILVO naar de stroomopwaarts gelegen Driesbeekvallei. Het subsidiebedrag bedraagt 54.885 euro voor 5 tunnels en geleidingswanden.</p>
                            </div>
                            <div class="col-sm-3">
                                <img src="/static/images/overzet.jpg" class="img-fluid" alt="...">
                            </div>
                        </div>
                        <div class="row mt-sm-5">
                            <div class="col-3">
                                <img src="/static/images/kerk_vurste.jpg" class="img-fluid" alt="...">
                            </div>
                            <div class="col-sm-9">
                                <p><b>Projectsubsidie voor vleermuizen in de kerk van Vurste</b></p>
                                <p>De projectsubsidie soorten rond de vleermuizenkolonie werd ingediend door Regionaal Landschap Vlaamse Ardennen in samenwerking met Vespertillio vzw en de Kerkfabriek. De zolder van de kerk van Vurste wordt verder ingericht voor de kraamkolonie. Hierbij worden onder andere nissen hersteld, kabelgaten afgesloten en invliegopeningen geoptimaliseerd. Het subsidiebedrag voor de kerk van Vurste bedraagt 8.313 euro. Dit project kadert in een ruimer project waarbij ook de kerken van Eine, Lede, Lozer en Mullem worden ingericht. Vleermuizen zijn Europees beschermd en veel soorten zijn bedreigd of achteruitgaand. Kerkzolders vormen sleutelplaatsen omdat de jongen van een reeks soorten daar geboren en grootgebracht worden.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-color3 p-3 mt-4 mb-4">
                    <h4 class="m-0 fs-3">Europese topnatuur in Rodeland</h4>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>Natuur en Bos maakte in samenwerking met de werkgroep Communicatie en beleving van het Rodelandproject een filmpje over Europese topnatuur in Rodeland. Hierin is te zien waar en op welke wijze verschillende partners actief bezig zijn met natuurbehoud en -herstel in Natura 2000-gebied.</p>
                        <!-- allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" width="100%" height="400" src="https://www.youtube.com/embed/oRZmdF6FblI" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <!-- <div class="bg-color3 p-3 mt-4 mb-4">
                    <h4 class="m-0 fs-3">Ontdek Rodeland op de fiets 2021</h4>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="text-center color1 fs-4 fw-bold">Zondagnamiddag 12 september (13u-18u)</p>
                        <p class="text-center color1 fs-5 mb-4 fst-italic">Ontmoet de Rodelandpartners live op de 16 stopplaatsen tijdens de Rodelanddag</p>
                        <p class="text-center color1 fs-4 fw-bold">Van 12 september t.e.m. 12 november</p>
                        <p class="text-center color1 fs-5 mb-4 fst-italic">Fiets de route wanneer je maar wil aan de hand van de wegwijzers ter plaatse, de kaart of GPX</p>
                        <p>Op zondagnamiddag 12 september tussen 13u en 18u wachten de Rodelandpartners je op bij de 16 stopplaatsen. Ze geven je met plezier een woordje uitleg over hun plannen en acties of onderzoek of nemen je even mee de natuur in.</p>
                        <p>De totale route is 54 km lang, maar je kan ook een kortere lus fietsen of meerdere korte lussen aan elkaar koppelen via de shortcuts. De shortcuts worden ook voorzien van wegwijzers. Je kan om het even waar starten, het is wel van belang dat je de hoofdroute in tegenwijzerzin fietst.</p>
                        <p class="text-center fs-5 mt-4"><a class="text" href="/static/Rodeland Fietskaart 2021.pdf" download>Klik hier</a> om de kaart te downloaden als PDF (12,3 MB)</p>
                        <p class="text-center fs-5 mb-4"><a class="text" href="/static/Rodelanddag route 2021.gpx" download>Klik hier</a> om de route te downloaden als GPX</p>
                        <p>De kaart met de fietsroute en alle info kan je ook <b>gratis op papier afhalen vanaf vrijdag 27 augustus</b> (tijdens de openingsuren) in de bibliotheek en het gemeentehuis van Gavere, Melle, Merelbeke en Oosterzele, bij het Toeristisch infopunt Munte en Toeristisch onthaalpunt De Poort in Gavere, bij de Borgwalhoeve in Vurste, het Bakkershof, Klavertroef en de Vierhoekhoeve.</p>
                        <p><b>Vanaf 12 september tot en met 12 november zal de route aangeduid blijven</b> met de wegwijzers op de kruispunten. Je kan dan de hele route of de kortere lussen nog eens fietsen om de mooiste plekjes van Rodeland te ontdekken.</p>
                        <p>Volg de laatste weetjes ook op de <a class="text" href="https://www.facebook.com/Rodelandproject/" target="_blank">Facebookpagina van het Rodelandproject</a>. Veel fietsplezier!</p>
                    </div>
                </div> -->
                <div class="bg-color3 p-3 mt-4 mb-4">
                    <h4 class="m-0 fs-3">Herbekijk het infomoment voor land- en tuinbouwers over Rodeland</h4>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>
                            Op 9 juni vond het eerste infomoment voor land- en tuinbouwers plaats. Dit ging online door, je kan de presentaties en de opnames hier downloaden per thema.
                        </p>
                        <ul>
                            <li>
                                <b>Voorstelling Rodelandproject</b> door Sofie Van Brussel – Projectcoördinator Rodeland
                                <br />
                                <a class="text" href="/static/Rodelandproject_infoavond_Landbouw_Rodeland_20210609.pdf" download>Download presentatie</a> | <a class="text" href="https://www.youtube.com/watch?v=6nGJDNGqFdc" target="_blank">Bekijk opname</a>
                            </li>
                            <li>
                                <b>Korte keten</b> door Caroline Vlaeminck – SOLVA-Oosterzele
                                <br />
                                <a class="text" href="/static/Korte_keten_infomoment_Landbouw_Rodeland_20210609.pdf" download>Download presentatie</a> | <a class="text" href="https://www.youtube.com/watch?v=WVtJdl7MujY" target="_blank">Bekijk opname</a>
                            </li>
                            <li>
                                <b>Telen van baktarwe voor Lokaal Brood</b> door Frank Van Boxstael – HOGENT
                                <br />
                                <a class="text" href="/static/Lokaal_Brood_infomoment_Landbouw_Rodeland_20210609.pdf" download>Download presentatie</a> | <a class="text" href="https://www.youtube.com/watch?v=Pouw9CnQ0TA" target="_blank">Bekijk opname</a>
                            </li>
                            <li>
                                <b>Kleine landschapselementen en nuttige toepassingen van landschapshout</b> door Mathias D’Hooghe – Boerennatuur Vlaanderen
                                <br />
                                <a class="text" href="/static/KLE_infomoment_Landbouw_Rodeland_20210609.pdf" download>Download presentatie</a> | <a class="text" href="https://www.youtube.com/watch?v=ii9SQPCq0ZE" target="_blank">Bekijk opname</a>
                            </li>
                            <li>
                                <b>Aanpak droogte</b> door Koen Fauconnier – Provincie Oost-Vlaanderen, Dienst Landbouw & Platteland
                                <br />
                                <a class="text" href="/static/Droogte_infomoment_Landbouw_Rodeland_20210609.pdf" download>Download presentatie</a> | <a class="text" href="https://www.youtube.com/watch?v=tKxIlG6qepY" target="_blank">Bekijk opname</a>
                            </li>
                        </ul>
                        <p>
                            Ben je land- of tuinbouwer in Oosterzele, Merelbeke, Melle of Gavere en wil je graag op de hoogte gehouden worden van het Rodelandproject? Of heb je na het zien van deze opnames interesse om in de toekomst deel te nemen aan een van onze initiatieven? Vul dan zeker vrijblijvend deze vragenlijst in: <a class="text" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSc2tzXBH6Yy9_e61PCLZwsM1wFt_rr4pFELMfGd1mj1eqCE1Q/viewform?usp=sf_link">https://docs.google.com/forms/d/e/1FAIpQLSc2tzXBH6Yy9_e61PCLZwsM1wFt_rr4pFELMfGd1mj1eqCE1Q/viewform?usp=sf_link</a>.
                        </p>
                    </div>
                </div>
                <!-- <div class="bg-color3 p-3 mt-3 mb-2">
                    <h4 class="m-0">Save the date: zondagnamiddag 12 september</h4>
                </div>
                <div class="row">
                    <div class="col-lg-12">                
                        <p>
                            Op zondag 12 september vindt de tweede editie van de Rodelanddag plaats. Dan stellen we het Rodelandproject graag voor aan de inwoners van Gavere, Melle, Merelbeke en Oosterzele tijdens een mooie en interessante fietstocht door het gebied.
                        </p>
                        <p>
                            De Rodelanddag 2020 was een bijzondere editie van fietsen per bubbel en maximale spreiding in de tijd (de Rodelanddag duurde toen maar liefst anderhalve maand!) en met uitleg op infopanelen in plaats van ter plaatse door onze projectpartners.
                        </p>
                        <p>
                            In 2021 rekenen we erop om eindelijk live te kunnen gaan! De Rodelandpartners ontmoeten jullie graag op zondagnamiddag 12 september in het projectgebied.
                        </p>
                        <p>
                            Voor meer info, check regelmatig onze <a class="text" href="https://www.facebook.com/Rodelandproject/" target="_blank">Facebookpagina</a>.
                        </p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
