{% extends "base.html" %}

{% block content %}
<div id="wandel_fiets" class="container max-w-screen-xl mx-auto">

    <div>
        <div class="prose max-w-none mb-8">
            <h2 class="text-3xl text-rodeland-2 font-normal">Zin om zelf op ontdekking te gaan in Rodeland?</h2>
            <p>De <a class="text-rodeland-3 underline" href="https://www.fietsknooppunt.be/nl-be/fietsen/routes/r21/rodeland-fietsroute-1" target="_blank">Rodeland fietsroutes</a> zijn zeer bekend, maar wist je dat er nog heel wat andere mogelijkheden zijn om te fietsen en te wandelen in Rodeland? Hieronder vind je alvast enkele van onze favorieten.</p>
        </div>

        <div class="grid grid-cols-2 gap-y-8">

            <div class="prose max-w-none flex flex-col justify-center bg-rodeland-2 p-6">
                <div>
                    <div class="flex items-baseline">
                        <h3 class="text-rodeland-1 font-bold m-0">Merelbekkersroute</h3>
                        <div class="font-bold ms-4">4,5 km, 6 km, 7 km of 8 km - wandelen</div>
                    </div>
                    <ul>
                        <li>Vier wandelroutes met spannende luisterverhalen voor gezinnen met kinderen tussen 3 en 12 jaar</li>
                        <li>Ga op avontuur met de ErfgoedApp in en rond de Makegemse bossen in Merelbeke en leer de Merelbekkers allemaal kennen!</li>
                        <li>De wandelroutes met de luisterverhalen zijn enkel tussen 1 juli en 28/29 februari toegankelijk, zo storen we de vogels niet tijdens het broedseizoen</li>
                    </ul>
                    <a href="https://secure-web.cisco.com/17n_lpVU3LV3WGWKbyuzHn-WuMYtJ9SndxMLKgqU2sMhsSYj6xpbopGHo_gs7f3bcK8Ne7QMy7ak0gSawOk2-sHdoNeLWDDNQmS6ttgn4uEVmN3EZYwi2GuaOcWnYW_RcE0jGRGzVgod2VRQq2ndNjX7wcXoKSdOqPu8WNW4a9CcTwS7bUYGWawXHhTnIrXyCD-3oDzkmfNisILUtFI7wMq2HzWm7WYmhP8W95TsWUJDoliMTfcLHaiM4vNZPjyn0fBpvSa1_PW2PMDjUqOZnO3t_Em6zJ_zUldlYVmPnRGwrC1sFvKq55wjsmq2RRklc/https%3A%2F%2Fwww.merelbeke-melle.be%2Fmerelbekkersroute" target="_blank"><button type="button" class="text-rodeland-3 bg-rodeland-1 hover:text-rodeland-1 hover:bg-rodeland-3 focus:outline-none font-bold rounded-full text-sm px-5 py-2.5 text-center me-2 mt-3 mb-2">Meer info</button></a>
                </div>
            </div>

            <div>
                <img class="m-0" src="/static/images/Merelbekkersroute.jpg">
            </div>
            
            <div>
                <img class="m-0" src="/static/images/Wetenschap_op_wieltjes.png">
            </div>

            <div class="prose max-w-none flex flex-col justify-center bg-rodeland-2 p-6">
                <div>
                    <div class="flex items-baseline">
                        <h3 class="text-rodeland-1 font-bold m-0">Wetenschap op wieltjes in Rodeland</h3>
                        <div class="font-bold ms-4">50 km - fietsen</div>
                    </div>
                    <ul>
                        <li>Wetenschapsroute door Rodeland met 16 stopplaatsen</li>
                        <li>Kom je vanop je fiets meer te weten over het onderzoek dat door UGENT, HOGENT en ILVO wordt gedaan in Rodeland</li>
                    </ul>
                    <a href="https://sites.google.com/view/wetenschap-op-wieltjes" target="_blank"><button type="button" class="text-rodeland-3 bg-rodeland-1 hover:text-rodeland-1 hover:bg-rodeland-3 focus:outline-none font-bold rounded-full text-sm px-5 py-2.5 text-center me-2 mt-3 mb-2">Meer info</button></a>
                </div>
            </div>

            <div class="prose max-w-none flex flex-col justify-center bg-rodeland-2 p-6">
                <div>
                    <div class="flex items-baseline">
                        <h3 class="text-rodeland-1 font-bold m-0">Bunkerroute in Oosterzele</h3>
                        <div class="font-bold ms-4">12,7 km - wandelen</div>
                    </div>
                    <ul>
                        <li>Mooie bewegwijzerde wandellus</li>
                        <li>Wandel via trage wegen langs de bunkergordel die in de Tweede Wereldoorlog dienst deed als verdedigingsgordel rond Gent</li>
                    </ul>
                    <a href="https://www.wandeleninvlaamseardennen.be/nl/routes/bunkerroute/195/" target="_blank"><button type="button" class="text-rodeland-3 bg-rodeland-1 hover:text-rodeland-1 hover:bg-rodeland-3 focus:outline-none font-bold rounded-full text-sm px-5 py-2.5 text-center me-2 mt-3 mb-2">Meer info</button></a>
                </div>
            </div>

            <div>
                <img class="m-0" src="/static/images/Bunkerroute.jpg">
            </div>

            <div>
                <img class="m-0" src="/static/images/Borgwal_houtig_erfgoed.jpg">
            </div>

            <div class="prose max-w-none flex flex-col justify-center bg-rodeland-2 p-6">
                <div>
                    <div class="flex items-baseline">
                        <h3 class="text-rodeland-1 font-bold m-0">Fietstocht langs houtig erfgoed in Gavere</h3>
                        <div class="font-bold ms-4">23 km - fietsen</div>
                    </div>
                    <ul>
                        <li>Fietslus langs verschillende bomen, houtkanten en hagen met een bijzondere erfgoedwaarde</li>
                        <li>Maak via de ErfgoedApp kennis met enkele erfgoedbomen en de verhalen die eraan verbonden zijn</li>
                        <li>Start- en eindpunt is domein Borgwal in Vurste</li>
                    </ul>
                    <a href="https://erfgoed.app/tour/2428/" target="_blank"><button type="button" class="text-rodeland-3 bg-rodeland-1 hover:text-rodeland-1 hover:bg-rodeland-3 focus:outline-none font-bold rounded-full text-sm px-5 py-2.5 text-center me-2 mt-3 mb-2">Meer info</button></a>
                </div>
            </div>

        </div>
        <div class="prose max-w-none mt-8">
            <p>Nog meer mooie wandel- en fietsroutes vind je op de websites van de Rodelandgemeenten:
                <ul>
                    <li>Gavere: <a class="text-rodeland-3 underline" href="https://www.gavere.be/toerisme/wandelen-en-fietsen/wandelen-in-en-rond-gavere" target="_blank">wandelen</a> en <a class="text-rodeland-3 underline" href="https://www.gavere.be/toerisme/wandelen-en-fietsen/fietsen-in-en-rond-gavere" target="_blank">fietsen</a></li>
                    <li>Merelbeke-Melle: <a class="text-rodeland-3 underline" href="https://www.merelbeke-melle.be/wandelroutes" target="_blank">wandelen</a></li>
                    <li>Oosterzele: <a class="text-rodeland-3 underline" href="https://www.oosterzele.be/vrije-tijd/toerisme/doen/wandelen" target="_blank">wandelen</a> en <a class="text-rodeland-3 underline" href="https://www.oosterzele.be/vrije-tijd/toerisme/doen/fietsen" target="_blank">fietsen</a></li>
                </ul>
            </p>
        </div>
    </div>

</div>
{% endblock %}
