{% extends "base.html" %}

{% block content %}
<div id="wat" class="container max-w-screen-xl mx-auto">
    <div>
        <div class="grid grid-cols-2 gap-4">
            <div class="prose max-w-none p-5 flex flex-col justify-center">
                <h4 class="text-2xl text-rodeland-1">Samen bouwen aan een waardevol natuur- en landbouwlandschap</h4>
                <p class="">
                    Rodeland is een landschapsproject op het grondgebied van de gemeenten Merelbeke-Melle en Oosterzele. Overheden, natuur- en landbouworganisaties en onderzoeksinstellingen werken er samen om het landschap rond de Makegemse bossen, het Gentbos, het Aelmoeseneiebos en de beekvalleien van de Gondebeek, de Driesbeek en de Molenbeek te versterken en verder te ontwikkelen.
                </p>
            </div>
            <div class="p-5">
                <img src="/static/images/wat1.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="p-5">
                <img src="/static/images/wat2.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="prose max-w-none p-5 flex flex-col justify-center">
                <h4 class="text-2xl text-rodeland-1">Een fijne plek om te ontspannen en tot rust te komen</h4>
                <p class="">
                    Via terreinacties willen deze partners de komende jaren samen bouwen aan een natuur- en landbouwlandschap waar veel plant- en diersoorten zich thuis voelen. Bos- en natuurherstel, verbrede landbouw, kleine landschapselementen, routes voor zachte recreatie, integraal waterbeheer, erfgoed en onderzoek,… zullen in de kijker gezet worden via onderlinge samenwerking. En voor de inwoners wordt Rodeland nog meer een plek waar het fijn is om te fietsen en te wandelen, te genieten, te spelen en tot rust te komen.
                </p>
            </div>

        </div>
        <div class="mt-5">
            <div class="prose max-w-none">
                <h4 class="text-2xl text-rodeland-1">Samenwerkingsovereenkomst en 14 doelstellingen</h4>
                <p>
                    De basis voor de samenwerking tussen de partners is de samenwerkingsovereenkomst die op 5 juli 2019 door alle partners werd ondertekend. Het samenwerkingsverband heeft tot doel acties van verschillende partners die bijdragen tot de projectdoelstellingen op te starten, te versterken en te coördineren. De focus ligt op realisaties op het terrein. Concreet engageren de partners zich om samen te werken rond deze 14 doelstellingen in het projectgebied:
                </p>
                <p>
                    <ol>
                        <li>
                            Het uitbreiden van de bosclusters Aelmoeseneiebos, Makegemse bossen en het Gentbos. Deze uitbreidingen dragen bij tot het behalen van de Europese natuurdoelen. Dit gebeurt in samenspraak met de lokale, betrokken land –en tuinbouwers en de betrokken eigenaars.
                        </li>
                        <li>
                            In het kader van deze Europese natuurdoelen worden ook de leefgebieden van de Europees beschermde soorten o.a. kamsalamander en vleermuizen verder hersteld en maatregelen uitgewerkt (ook via de Soortenbeschermingsprogramma’s).
                        </li>
                        <li>
                            Het behouden en versterken van een belangrijk open ruimtegebied in een verstedelijkte regio, werk maken van natuurbeleving en van natuur in je buurt voor 500.000 Oost-Vlamingen. Dit dient te gebeuren in harmonie met de plaatselijke land- en tuinbouw.
                        </li>
                        <li>
                            Het behouden, versterken en respecteren van de rol van de lokale landbouw als behoeder van de open ruimte en het landschap en waar mogelijk ondersteunen van een verbrede landbouw met een eigen rol in Rodeland, bv. zorgboerderijen, korte ketenlandbouw, hoevetoerisme,…
                        </li>
                        <li>
                            In het projectgebied van Rodeland bevinden zich een aantal wetenschappelijke instellingen, een unieke situatie. Dat maakt dat Rodeland kan aangewend worden als een proeftuin voor nieuwe inzichten rond ecologie, landbouw, landschap, klimaatadaptatie,… Innovatieve projecten kunnen uitgewerkt worden in samenwerkingsverbanden ook tussen de verschillende instellingen en partners, via o.a. doctoraatsonderzoek, onderzoeksbeurzen, enz…
                        </li>
                        <li>
                            Het kwaliteitsvol versterken van het landschap, de graslanden en de kleinere boskernen in de Driesbeekvallei en Molenbeekvallei om zo een ecologische verbinding te realiseren tussen de Makegemse bossen en het Aelmoeseneiebos.
                        </li>
                        <li>
                            Het landschap kwaliteitsvol verbinden met de omliggende dorpskernen.
                        </li>
                        <li>
                            Het ondersteunen en begeleiden van lokale landbouwers bij hun rol in beheer en de ontwikkeling van het landschap.
                        </li>
                        <li>
                            Een ecologische verbinding realiseren tussen de Makegemse bossen en de vallei van de Bovenschelde (langs waterlopen, dreven, KLE en stapstenen…).
                        </li>
                        <li>
                            Inzetten op een verhoging van de recreatieve en toeristische kwaliteiten van het gebied, met o.a. de uitbouw van een recreatief netwerk in het projectgebied en het realiseren van veilige mobiliteitsinfrastructuur (trage wegen, veilig fietsen, ruiteren) in overeenstemming met de ecologische draagkracht van het gebied en de plaatselijke land- en tuinbouw.
                        </li>
                        <li>
                            Het voorzien van ruimte voor water, waarbij iedereen zijn verantwoordelijkheid neemt, zowel overstromingsrisico’s als verdroging zijn hierbij werkthema’s.
                        </li>
                        <li>
                            Samenwerken aan een klimaatadaptief landschap.
                        </li>
                        <li>
                            Het versterken van de streekidentiteit.
                        </li>
                        <li>
                            Het behouden, herwaarderen en het stimuleren van het ontsluiten van het aanwezige erfgoed, in samenwerking met gemeentebesturen en betrokken eigenaars.
                        </li>
                    </ol>
                </p>
                <p>
                    De partners realiseren dit via samenwerkingsverbanden, de uitbouw van netwerken, de betrokkenheid en de verhoging van het draagvlak met alle spelers van de open ruimte.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
