{% extends "base.html" %}

{% block content %}
<div id="wie" class="container max-w-screen-xl mx-auto">
    <div class="grid grid-cols-2 gap-4">
        <div class="prose max-w-none p-4">
            <h4 class="text-2xl text-rodeland-1">Sterk partnerschap kiest voor de toekomst</h4>
            <p>
                In 2019 sloegen overheden, natuur- en landbouworganisaties en onderzoeksinstellingen de handen in elkaar voor het Rodelandproject.
            </p>
            <p class="mb-0">
                Anno 2026 zijn de Rodelandpartners er klaar voor om nog eens 6 jaar (2026-2031) samen te werken in Rodeland: Provincie Oost-Vlaanderen, Gemeente Merelbeke-Melle, Gemeente Gavere, Gemeente Oosterzele, Agentschap voor Natuur en Bos, Instituut voor Landbouw-, Visserij- en Voedingsonderzoek, Bosgroep Oost-Vlaanderen vzw, Natuurpunt, Boerenbond, Algemeen Boerensyndicaat, Boerennatuur Vlaanderen, BOS+, Forest & Nature Lab (Universiteit Gent), Proefhoeve Bottelare (Universiteit Gent en Hogeschool Gent), Hogeschool Gent en Regionaal Landschap Vlaamse Ardennen tot Dender.
            </p>
            <div class="mt-4 flex justify-center">
                <img class="h-80" src="/static/images/alle_partnerlogo's_Rodeland_2026.png">
            </div>
        </div>
        <div class="p-4">
            <img src="/static/images/wie1.jpg" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>
{% endblock %}
